
.brand{
	article{
		&.page{
			margin-bottom: 0;
		}
	}
}

.brand-title{
	max-width: 700px;
	margin: 40px auto;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	font-weight: 700;
	font-size: 22px;
}

.brands-wrapper{
	letter-spacing: -0.36em;

	ul.brands{
		@include transition(all 0.35s linear);
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: inline-block;
		width: 16.66%;
		vertical-align: top;
		letter-spacing: normal;
		margin-bottom: 20px;

		li{
			line-height: 1.7;
			&.head{
				font-size: 150%;
				margin-bottom: 5px;
				line-height: 1.2;
			}


			a{
				color: lighten($black, 35%);
				text-decoration: none;
				line-height: 1.5;
				font-weight: 300;
				letter-spacing: 0.35px;

				&:hover,
				&:focus,
				&:active{
					color: lighten($black, 5%);
				}
			}

		}

		@include media(md){
			width: 20%;
		}

		@include media(sm){
			width: 25%;
		}

		@include media(xs){
			width: 50%;
		}
	}
}