
.product-single-wrapper{
	padding:3.25rem 0 0;
		@include media(sm){
			padding-top:0;
		}
		.product-single-holder{
			padding:0 15px;
			.badge.onsale{
				background-color: #609ebb;
				border-radius: 0;
				font-size: 0.8125rem;
				font-weight: 600;
				line-height: 100%;
				margin: 0;
				padding: 1em;
				position: absolute;
				text-transform: uppercase;
				top: 0.9375rem;
				z-index: 9;
				right: 0;
				left: inherit;
			}

			.images{
				
				.no-caroufredsel{
					.product-thumbnail-paginattion{
						display: none;
					}
				}

				div.thumbnails{

					position:relative;
					//padding: 1em;
			    	margin-top: 25px;

			    	div.product-img-thumb{
			    		display: block;
			    		width: 110px;
						float: left;
						margin-right:10px;
			    	}

			    	/*div.product-img-thumb.item-visible:nth-child(4){
			    		margin-right: 0;
			    	}

			    	div.product-img-thumb.item-visible:first-child{
			    		margin-left: 0;
			    	}*/

					
					.active-img{
						>img{
							border:2px solid $primary;
						}
					}

					.last{
						margin-right:0;
					}
					
					.product-thumbnail-paginattion{
						i{
							font-size: 20px;
							cursor: pointer;
							&:hover{
								color: $primary;
							}
						}
						>span{
							position:absolute;
						}
						#product-thumb-next {
							left: 10px;
							top: 50%;
						}
						#product-thumb-prev {
							right: 10px;
							top: 50%;
						}

					}//.product-thumbnail-paginattion
				}

				.easyzoom-flyout{ 
					img{
						max-width: initial;
						width: initial;
					} 
				}

				.easyzoom{
					width: 100%;
					padding-right: 10px;
					@include media(xs){
						padding-right: 0;
					}
				}
			}//.images
			.entry-summary{
					font-size: 1rem;
					line-height: 1.875;
					//padding-top: 0.9375rem;
					color: #888;
					margin: 0;
				h1{
					font-size: 1.875rem;
					font-weight: bold;
					line-height: normal;
					margin: 0 0 0.625rem;
					text-transform: uppercase;
					color: #555;
				}

				.price{
					.amount{
						color: $primary;
						font-size: 2.25rem;
						font-weight: 500;
						margin-bottom: 0;
					}
				}

				.item-description{
					padding-right:50px;
				}//item-description
				.quantity{
					margin-right: 1.875rem;
					padding-right:1.25rem;
					margin-bottom: 15px;
					.qty{
						font-size: 0.875rem;
						font-weight: bold;
						height: 3rem;
						line-height: 3rem;
						padding: 0 0.25rem 0 0;
						text-align: center;
						width: 4.125rem;
						@include border-radius(0);
						color: #888;
					}
					@include media(mb){
						margin-right: 0 !important;
					}
				}
			
				.single_add_to_cart_button{
					padding:1rem 2.5rem;
					background-color: $primary !important;
					border-color:$primary;
					text-transform: uppercase;

					&:hover{
						background-color: #2d2d2d !important;

					}
					@include media(mb){
						padding: 1rem 1.75rem;
					}
				}
				.product_meta{
					font-size: 14px;
					font-weight: 400;

					span{
						font-weight: 600;
						line-height: 0.5;
						> * {
							font-weight: 400;
						}
					}
					.posted_in{
						display: block;
						font-weight: 600;
						margin: 0 0 0.4375rem;
						// text-transform: uppercase;

							a{
								color: #888;
								text-transform: initial;

								&:hover{
									color: $primary;
									text-decoration: none;
								}
							}
					}
					.tagged_as{
						margin-bottom: 0.8rem;
						display: block;
						color: $primary;

						>span{
							color:#888;
						}

						a{
							color: $primary;

							&:hover{
								color: $link;
								text-decoration: none;
							}
						}
					}
				}//.product_meta
				form.cart{
					.group_table{
						tr{
							td.label{
								vertical-align: middle;
								a{
									color:#555;
									font-size: 1rem;
									font-weight: bold;

									&:hover{
										color: $primary;
										text-decoration: none;
									}
								}
							}
							td.price{
								.woocommerce-Price-amount{
								font-size: 1.125rem !important;
							}
							}
						}
					}
				}

				.wpallshare-theme4{
					ul{
						margin: 0;
						li{
							a{

								color: #675f5f!important;
								background-color: transparent;
								display: inline-block;
								float: none;
								line-height: 1;
								font-size: 12px;
								margin: 0 0.3125rem !important;
								overflow: hidden;
								padding: 10px;
								@include border-radius(50%);
								border: 1px solid #dcd6d6;

							}//a

							&:hover{
								a{
									color: $primary !important;
								}//a
							}//&:hover
							.tooltip{
								display: none;
							}//.tooltip
						}//li
					}//ul

				}//.wpallshare-theme4
				.variations_form.cart{
					.variations{
						width: 360px;
						@include media(mb){
							width: 100%;
						}
						.label{
							color: #666;
						}//.label
						.value{
							.select{
								min-width: inherit !important;
								@include border-radius(3px);
							}
						}
					}//variations
				}//.variations_form.cart
			}//.entry-summary

			.wc-tabs-wrapper{
					border-bottom: 3px solid rgba(0, 0, 0, 0);
					display: inline-block;
					width: 66.6667%;
					margin: 0 auto 4.375rem;
					display: block;
					color: #888;
					font-size: 16px;
					line-height:1.875;
					@include media(sm){
						width: 100%;
						margin-bottom: 0;
					}
					.woocommerce-Tabs-panel{
						text-align: left;
						@include box-shadow(none);
						border:0;
					}//.woocommerce-Tabs-panel
					ul{
						font-size: 1.125rem;
						font-weight: bold;
						line-height: 2.5rem;
						padding: 0.625rem 0;
						text-transform: uppercase;
						margin-bottom: 10px;

						&.tabs{
							padding-left: 0 !important ;
						}

						&:before{
							display: none !important;
						}
						
						li{
							border:0 !important;
							background-color: transparent !important;

							&:before{
								display: none !important;
							}

							&:after{
								display: none !important;
							}

							&:nth-child(1){
								padding-left: 6px !important;
							}

							a{
								color:#555;
								border-bottom:3px solid transparent;

								&:hover{
									border-bottom:3px solid $primary;
									color: $primary !important;
								}
							}

						}//li
						.active{
							a{
								border-bottom:3px solid $primary;
								color:#555 !important;
								&:hover{
									border-bottom:3px solid $primary;
									color: $primary !important;
								}
							}
						}//.active
							
					}//ul

					.woocommerce-Tabs-panel{
						h2{
							font-size: 1.25rem;
							margin: 0 0 0.9375rem;
							color: #555;
							position:relative;
							padding-bottom:10px;

							&:after{
								position:absolute;
								content: '';
								width: 1.875rem;
								background-color:#555;
								bottom:0;
								left: 0;
								height: 1px;
							}
						}
						.comment-respond{
							.comment-form{
								.form-submit{
									.submit{
										padding:1rem 2.5rem !important;
										background-color:$primary !important;
										color: $white !important;

										&:hover{
											background-color:#2d2d2d !important;
										}
									}
								}
							}
						}
						.comment-respond{
							.comment-form{
								.review-input{
									width: 49%;
									float: left;

									input{
										width: 100%;
										padding:0.625rem;
									}
								}
								textarea[rows]{
									padding:0.625rem;
									height: auto;
								}
								#comment{
									height: inherit;
								}
								.review-input.comment-form-author{
									margin-right:2% !important;
								}
							}
						}
					}//.woocommerce-Tabs-panel

			}//.wc-tabs-wrapper
			.stock,
			.stock.out-of-stock{
				color: #358974;
				font-size: 0.75rem;
				font-weight: bold;
				margin-bottom: 0;
				text-transform: uppercase;
				i{
					padding-right:5px;
				}
			}

			.variations{
				select,
				label{
					line-height: 3rem !important;
					height: 3rem;
				}
			}

	}//.product-single-holder
			
	.related-products{
		background:#f5f5f5;
		padding:3.4375rem 0 3.4375rem;
		text-align: center;
		font-size: 1rem;
		color: #888;
		h2{
			border-bottom: 3px solid #e1e1e1;
			display: inline-block;
			font-size: 1.875rem;
			font-weight: bold;
			margin-bottom: 1.9375rem;
			padding-bottom: 1.3125rem;
			text-transform: uppercase;
			color: #555;
		}
		.related-product-description{
			font-size: 1.1rem;
			margin: 0 auto !important;
			width: 50%;
			@include media(sm){
				width: 100%;
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		.products{
			margin-top: 2.5rem;

			li{
				width:20% !important;
				@include media(sm){
					width: 50% !important;
				}

				@include media(mb){
					width: 100% !important;
				}

				img{
					width: 100%;
				}
			}
		}
	}//.related

}//.product-single-wrapper

.ajax_add_to_cart.added{

	&:after{
		display: none;
	}
}

.ajax_add_to_cart.loading{
	
	opacity: 0.85 !important;
	
	.fa-shopping-cart{
		visibility: hidden;
	}

	&:after{

	    top: 0.118em !important;
    	right: 1.1em !important;

	}
}

.woocommerce div.product .summary p.stock{
	font-size: 0.72em !important;
	margin-top: -20px !important;
}