/*
Theme Name: Mixit
Theme URI: http://underscores.me/
Author: Eaglevision IT Se
Author URI: http://underscores.me/
Description: Custom theme: Mixit, developed by Eaglevision IT Se
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: mixit
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Mixit is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button.active:focus {
  outline: none;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

p {
  margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
  font-size: 100% !important;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaa #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}

select {
  border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

textarea {
  width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: royalblue;
}

a:visited {
  color: purple;
}

a:hover,
a:focus,
a:active {
  color: midnightblue;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-navigation li {
  float: left;
  position: relative;
}

.main-navigation a {
  display: block;
  text-decoration: none;
}

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 1.5em;
  left: -999em;
  z-index: 99999;
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation ul ul a {
  width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  left: 100%;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: block;
  }
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
  max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

.navigation {
  float: right;
}

.form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

a:focus {
  outline: none;
}

/* ============================================================
 *                              M MENU                                
 * ============================================================ */
.mixit-menu-toggler {
  color: #fff;
  position: absolute;
  right: 0;
  z-index: 57;
}
.mixit-menu-toggler i {
  font-size: 20px;
}

#header {
  background-color: rgba(28, 31, 36, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 110;
  /*logo*/
}
#header .logo {
  padding: 0.688rem 0 0;
}
@media (max-width: 991px) {
  #header .logo {
    padding: 0.75rem 0;
  }
}
#header .logo img {
  width: 110px;
}
@media (max-width: 991px) {
  #header .right-panel {
    margin-top: 4px;
  }
}

.scroll-header {
  background-color: rgba(28, 31, 36, 0.9) !important;
}

/* ============================================================
 * MAIN HEADER NAVIGATION                                      
 * ============================================================ */
.main-header-navigation {
  padding: 0.1875rem 0 0;
  width: initial;
  float: right;
  margin-bottom: 0;
}
.main-header-navigation .current-menu-item a {
  color: #cb0a1f;
}
.main-header-navigation ul.mixit-menu-wrapper {
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .main-header-navigation ul.mixit-menu-wrapper {
    padding: 2.188rem 0 0;
  }
}
.main-header-navigation ul.mixit-menu-wrapper > li:hover {
  border-bottom: 3px solid #cb0a1f;
}
.main-header-navigation ul.mixit-menu-wrapper li {
  margin: 1.275rem 1.875rem 0;
  line-height: 1.25rem;
  position: relative;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.main-header-navigation ul.mixit-menu-wrapper li ul {
  background-color: #fff;
  margin-top: 3.75rem;
  padding: 0.9375rem 0;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  -ms-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  list-style: none;
  margin-bottom: 0 !important;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 23px;
  left: 0;
  margin-left: 0;
  min-width: 200px;
}
@media (max-width: 767px) {
  .main-header-navigation ul.mixit-menu-wrapper li ul {
    left: -52px;
  }
}
.main-header-navigation ul.mixit-menu-wrapper li ul li {
  border-top: 1px solid #e1e1e1;
  margin: 0;
  padding: 0;
}
.main-header-navigation ul.mixit-menu-wrapper li ul li:first-child {
  border-top: 0;
}
.main-header-navigation ul.mixit-menu-wrapper li ul a {
  text-transform: capitalize;
  color: #555;
  padding: 0.875rem 1.875rem;
  color: #555;
  font-weight: normal;
  outline: none;
}
.main-header-navigation ul.mixit-menu-wrapper li ul a i {
  margin-right: 0.25rem;
  padding-right: 0.3125rem;
}
.main-header-navigation ul.mixit-menu-wrapper li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 1.188rem;
  display: block;
}
.main-header-navigation ul.mixit-menu-wrapper li a:hover {
  color: #cb0a1f;
  text-decoration: none;
}
.main-header-navigation ul.mixit-menu-wrapper li a:focus {
  outline: none;
  text-decoration: none;
}
@media (max-width: 1199px) {
  .main-header-navigation ul.mixit-menu-wrapper li {
    margin: 0.9375rem 0.875rem 0;
  }
}
.main-header-navigation ul.mixit-menu-wrapper li:hover ul.sub-menu {
  opacity: 1;
  visibility: visible;
  margin-top: 1.125rem;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  -ms-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}
.main-header-navigation .mixit-custom-menu-item {
  margin: 0.9375rem;
}
.main-header-navigation .ubermenu-responsive-toggle {
  color: #fff;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0.5rem;
  padding-top: 21px;
  position: absolute;
  right: 0;
  top: 0;
}

/* ============================================================
 *                      SEARCH FORM                                    
 * ============================================================ */
#search-wrapper {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
#search-wrapper .mixit-product-search {
  width: 100%;
  position: fixed;
  z-index: 5;
}
#search-wrapper .mixit-product-search input[type="search"] {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  font-size: 1.25rem;
  color: #555;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  border: 0;
  width: 100%;
  padding: 0.875rem 2.5rem 0.875rem 1.875rem;
}
#search-wrapper .mixit-product-search button {
  position: absolute;
  right: 0;
  top: 15%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  border: none;
  background-color: transparent;
}
#search-wrapper .mixit-product-search button i {
  font-size: 1.25rem;
  color: #888;
}
#search-wrapper .mixit-product-search button i:hover {
  color: #cb0a1f !important;
}

/* ============================================================
 * MAIN HEADER NAVIGATION                                      
 * ============================================================ */
.mixit-user-info-wrapper {
  padding: 1.0875rem 0 0;
  float: right;
}
@media (max-width: 991px) {
  .mixit-user-info-wrapper {
    padding: 1.188rem 0 0;
    margin-bottom: -30px;
  }
}
.mixit-user-info-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mixit-user-info-wrapper ul li {
  float: left;
  padding: 0 0.9375rem;
  position: relative;
  -webkit-transition: ease-out all 0.2s;
  -moz-transition: ease-out all 0.2s;
  -o-transition: ease-out all 0.2s;
  transition: ease-out all 0.2s;
}
@media (max-width: 767px) {
  .mixit-user-info-wrapper ul li {
    padding: 0 0.5rem;
  }
}
@media (max-width: 991px) {
  .mixit-user-info-wrapper ul li {
    padding: 0 10px;
  }
  .mixit-user-info-wrapper ul li:last-of-type {
    margin-right: 15px;
  }
}
.mixit-user-info-wrapper ul li a {
  color: #fff;
}
@media (max-width: 991px) {
  .mixit-user-info-wrapper ul li i {
    font-size: 18px;
  }
}
.mixit-user-info-wrapper ul li .mini-cart-icon {
  padding-bottom: 1.188rem;
  display: block;
  cursor: pointer;
}
.mixit-user-info-wrapper ul li .mini-cart-icon i {
  font-size: 1.5rem;
  line-height: 1.25rem;
  color: #fff;
}
@media (max-width: 991px) {
  .mixit-user-info-wrapper ul li .mini-cart-icon i {
    font-size: 18px;
    line-height: 1;
  }
}
@media (max-width: 991px) {
  .mixit-user-info-wrapper ul li .mini-cart-icon {
    padding-bottom: 0;
  }
}
.mixit-user-info-wrapper ul li ul li {
  width: 100%;
}
.mixit-user-info-wrapper ul li ul li a {
  color: #555;
}
.mixit-user-info-wrapper ul li .cart-item-count {
  background: #cb0a1f;
  /*@include border-radius(50%;)*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  display: block;
  font-size: 0.6875rem;
  font-weight: normal;
  height: 1rem;
  line-height: 1rem;
  position: absolute;
  right: 0;
  text-align: center;
  top: -12px;
  width: 1rem;
}
@media (max-width: 767px) {
  .mixit-user-info-wrapper ul li .cart-item-count {
    right: 6px;
  }
}

@media screen and (max-width: 767px) {
  ul.mixit-user-info li i {
    font-size: 18px !important;
  }
}
/* ============================================================
 * MIXIT ACCOUNT                                      
 * ============================================================ */
.mixit-account:hover > ul {
  display: block;
}
.mixit-account ul {
  background-color: #fff;
  margin-top: 3.75rem;
  padding: 0.9375rem 0;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  -ms-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  list-style: none;
  margin-bottom: 0 !important;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 23px;
  left: 0;
  margin-left: 0;
  min-width: 200px;
}
@media (max-width: 767px) {
  .mixit-account ul {
    left: -52px;
  }
}
.mixit-account ul li {
  border-top: 1px solid #e1e1e1;
  margin: 0;
  padding: 0;
}
.mixit-account ul li:first-child {
  border-top: 0;
}
.mixit-account ul a {
  text-transform: capitalize;
  color: #555;
  padding: 0.875rem 1.875rem;
  color: #555;
  font-weight: normal;
  outline: none;
}
.mixit-account ul a i {
  margin-right: 0.25rem;
  padding-right: 0.3125rem;
}
.mixit-account a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 1.188rem;
  display: block;
}
.mixit-account a:hover {
  color: #cb0a1f;
  text-decoration: none;
}
.mixit-account a:focus {
  outline: none;
  text-decoration: none;
}
.mixit-account a {
  padding-bottom: 0;
}

.mixit-search i {
  color: #fff;
  cursor: pointer;
}

/* ============================================================
 * MINI CART WRAPPER                              
 * ============================================================ */
.mini-cart-wrapper {
  position: relative;
}
@media (max-width: 767px) {
  .mini-cart-wrapper {
    padding-right: 20px !important;
  }
}
.mini-cart-wrapper #mixit-cart-detail {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 42px;
  margin-left: 0;
  width: 23.125rem;
  left: inherit;
  right: 0;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #f5f5f5;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
@media (max-width: 767px) {
  .mini-cart-wrapper #mixit-cart-detail {
    width: 20.125rem;
  }
}
@media (max-width: 479px) {
  .mini-cart-wrapper #mixit-cart-detail {
    right: -35px;
  }
}
.mini-cart-wrapper #mixit-cart-detail ul.cart_list.product_list_widget {
  height: 100px;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}
.mini-cart-wrapper #mixit-cart-detail ul.cart_list.product_list_widget li.mini_cart_item {
  padding: 15px 15px 15px 0;
  border-top: 0;
  border-bottom: 1px dashed #f5f5f5;
  width: 100%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.mini-cart-wrapper #mixit-cart-detail ul.cart_list.product_list_widget li.mini_cart_item:last-of-type {
  border-bottom: none;
}
.mini-cart-wrapper #mixit-cart-detail ul.cart_list.product_list_widget li.mini_cart_item a.remove {
  float: right;
}
.mini-cart-wrapper #mixit-cart-detail ul.cart_list.product_list_widget li.mini_cart_item a.remove i {
  color: #555;
  font-size: 0.75rem;
}
.mini-cart-wrapper #mixit-cart-detail ul.cart_list.product_list_widget li.mini_cart_item a.remove:hover {
  background-color: transparent;
}
.mini-cart-wrapper #mixit-cart-detail ul.cart_list.product_list_widget li.mini_cart_item a.remove:hover i {
  color: #cb0a1f;
}
.mini-cart-wrapper #mixit-cart-detail ul.cart_list.product_list_widget li.mini_cart_item a {
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #555;
}
.mini-cart-wrapper #mixit-cart-detail ul.cart_list.product_list_widget li.mini_cart_item a:hover {
  color: #cb0a1f;
}
.mini-cart-wrapper #mixit-cart-detail ul.cart_list.product_list_widget li.mini_cart_item a img {
  float: left;
  margin-right: 0.9375rem;
  max-width: 4.375rem;
  width: 100%;
  padding-top: 0.375rem;
}
.mini-cart-wrapper #mixit-cart-detail ul.cart_list.product_list_widget li.mini_cart_item .quantity {
  color: #cb0a1f;
  font-weight: bold;
}
.mini-cart-wrapper #mixit-cart-detail .cart-redirect-link {
  padding: 15px 0;
  float: right;
}
.mini-cart-wrapper #mixit-cart-detail .cart-redirect-link .total {
  color: #cb0a1f;
  font-size: 1.625rem;
  font-weight: bold;
  line-height: normal;
  margin: 0 0 1.25rem;
  padding-top: 0.9375rem;
  border-top: 1px solid #e1e1e1;
  width: 100%;
}
.mini-cart-wrapper #mixit-cart-detail .cart-redirect-link .total:before, .mini-cart-wrapper #mixit-cart-detail .cart-redirect-link .total:after {
  content: " ";
  display: table;
}
.mini-cart-wrapper #mixit-cart-detail .cart-redirect-link .total:after {
  clear: both;
}
.mini-cart-wrapper #mixit-cart-detail .cart-redirect-link .total .amount {
  float: right;
}
.mini-cart-wrapper #mixit-cart-detail .cart-redirect-link .buttons {
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
}
.mini-cart-wrapper #mixit-cart-detail .cart-redirect-link .buttons a {
  color: #888;
  display: block;
  float: right;
}
.mini-cart-wrapper #mixit-cart-detail .cart-redirect-link .buttons a:hover {
  text-decoration: none;
  color: #cb0a1f;
}
.mini-cart-wrapper #mixit-cart-detail .cart-redirect-link .buttons .checkout {
  margin-top: 1.25rem;
  background: #cb0a1f;
  border-color: #cb0a1f;
  color: #fff;
  padding: 1rem 2.5rem;
}
.mini-cart-wrapper #mixit-cart-detail .cart-redirect-link .buttons .checkout:hover {
  background: #2d2d2d;
  border-color: #2d2d2d;
  color: #fff;
}
.mini-cart-wrapper:hover #mixit-cart-detail {
  visibility: visible;
  opacity: 1;
}

/* ============================================================
 * BANNER SECTION                     
 * ============================================================ */
.main-content {
  height: 78vh;
  position: relative;
  height: 80vh;
}
@media (max-width: 767px) {
  .main-content {
    height: 100vh;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .main-content {
    height: 819px;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  .main-content {
    height: 614px;
  }
}
@media screen and (device-aspect-ratio: 40 / 71) {
  .main-content {
    height: 400px;
  }
}
@media screen and (device-width: 320px) and (device-aspect-ratio: 2 / 3) and (orientation: portrait) {
  .main-content {
    height: 384px;
  }
}

.banner-holder {
  position: absolute !important;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.banner-holder video, .banner-holder object {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  background: no-repeat center center fixed /cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.banner-holder .doted-overlay {
  background: url("assets/build/img/gridtile.png") repeat;
  opacity: 1;
}
.banner-holder .banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  text-align: center;
  color: #fff;
  z-index: 2;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.banner-holder .banner-text .welcome-text {
  font-size: 48px;
  font-style: italic;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  white-space: nowrap;
  z-index: 5;
  position: relative;
}
.banner-holder .banner-text .welcome-text:before {
  background-color: #fff;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 40px;
}
.banner-holder .banner-text .welcome-text:after {
  background-color: #fff;
  content: "";
  height: 2px;
  right: 0;
  position: absolute;
  top: 50%;
  width: 40px;
}
@media (max-width: 767px) {
  .banner-holder .banner-text .welcome-text {
    font-size: 12px;
    line-height: 12px;
  }
  .banner-holder .banner-text .welcome-text:before, .banner-holder .banner-text .welcome-text:after {
    display: none;
  }
}
.banner-holder .banner-text h1 {
  font-size: 45px !important;
  font-weight: 600;
  letter-spacing: -4px;
  line-height: 48px !important;
  z-index: 6;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.banner-holder .banner-text h1:after {
  content: "";
  width: 50px;
  height: 4px;
  background-color: #FFF;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .banner-holder .banner-text h1 {
    font-size: 23px !important;
    line-height: 1.25 !important;
    letter-spacing: 0;
    margin: 0 0 8px;
  }
}
.banner-holder .banner-text .slogan {
  border-width: 0;
  font-size: 22px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  opacity: 1;
  padding: 0;
  transform: translate3d(0px, 0px, 0px);
  transform-origin: 50% 50% 0;
  transition: none 0s ease 0s;
  visibility: inherit;
  white-space: nowrap;
  z-index: 7;
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  .banner-holder .banner-text .slogan {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 0;
    white-space: normal;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.banner-holder .banner-text a {
  padding: 1rem 3.125rem;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  -ms-text-shadow: none;
  text-shadow: none;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
@media (max-width: 767px) {
  .banner-holder .banner-text a {
    display: none;
  }
}
.banner-holder .banner-text a:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  background-color: #cb0a1f;
  border-color: #cb0a1f;
  text-decoration: none;
}
.banner-holder .banner-text .btn-shop-now {
  margin-right: 20px;
  border: 2px solid #cb0a1f;
}
.banner-holder .banner-text .btn-shop-now:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  background-color: #2d2d2d;
  border: 2px solid #2d2d2d;
}
.banner-holder .banner-text .btn-we {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  border: 2px solid #fff;
}
@media (max-width: 767px) {
  .banner-holder {
    background-image: url(http://www.mixit.se/wp-content/uploads/2016/08/page-header-default-e1479119544902.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
  .banner-holder video, .banner-holder object {
    display: none;
  }
}

.banner-arrow {
  position: absolute;
  bottom: 20px;
  left: 0px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 24px;
  -webkit-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  cursor: pointer;
}
.banner-arrow .arrow-line {
  height: 1px;
  width: 28px;
  background: white;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}
.banner-arrow .arrow-line:after {
  content: '';
  position: absolute;
  width: 28px;
  height: 100%;
  bottom: 0;
  left: 100%;
  background: white;
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/*# sourceMappingURL=style.css.map */
