.mixit-my-account-page{
	background:$white;
	.my-account{
		h2{
			color:#555;
			font-size: 1.75rem;
			margin:0 0 0.5rem;
		}

		form.login{
			padding:1.25rem;

			label{
				color: #555;
				display: block;
				font-size: 0.875rem;
				font-weight: normal;
				line-height: 1.8;
				margin: 0.625rem;
			}

			.woocommerce-Input.woocommerce-Input--text.input-text{
				height: 2.6875rem;
			}

			input[type="submit"]{
				border-color: #e1e1e1;
				color: #888;
				background:transparent;
				border: 2px solid #e1e1e1;
				@include border-radius(0.25rem);
				font-size: 0.875rem;
				font-weight: bold;
				text-transform: uppercase;
				padding:1rem 2.5rem;
				margin-right: 1rem;

				&:hover{
					background:$primary;
					border-color:$primary;
					color: $white;
					@include box-shadow(none);
				}
			}

			label.inline{
				display: inline;
				color: #555;
				font-size: 0.875rem;
				font-weight: normal;
				line-height: 1.8;
				margin: 0.625rem;
				@include media(mb){
					display: block;
				}
			}

			.woocommerce-LostPassword.lost_password{
				margin-top:0.9375rem;

					a{
						color:#555;
						font-size: 16px;

						&:hover{
							color: $primary;
							text-decoration: none;
						}
					}
			}
		}

	}//.my-account
}//. mixit-my-account-page