.mixit-my-account-page{
	.my-account-sidebar-wrapper{
		.searchform{
			position: relative;
			input[type="text"] {
				@include border-radius(0);
				font-weight: normal;
				border: none;
				height: 3.375rem;
			}
			#searchsubmit{
				color: #white;
				border:none;
				@include border-radius(0);
				@include box-shadow(none);
				@include text-shadow(none);
				width: 64px;
    			float: right;
    			background:transparent;
    			position:absolute;
				display: block;
				position: absolute;
				right: 0.9375rem;
				top: 50%;
				@include transform(translateY(-50%));
				color: #888;

				&:hover{
					color: $primary;
				}
			}
		}
	}//.my-account-sidebar-wrapper
	.my-account{
		color:#888;
		a{
			color:#555;
			&:hover,
			&:focus{
				color: $primary;
				text-decoration: none;
			}
		}
		.mixit-account-nav{
			margin-bottom: 40px;
			ul{
				li{
					@include media(xs){
						padding-right:0;
					}
					@include media(ls){
						width: 100%;
						margin-bottom: 25px;
					}
					a{
						border: 1px solid;
						padding: 0.4375rem 0.5rem;
						@include media(sm){
							padding:0.4375rem 0.2rem;
							font-size: 0.612rem;
							margin: 0;
						}
						@include media(ls){
							padding:12px;
							display: inline-block;
							width: 100%;
							text-align: center;
						}
						&:hover{
							text-decoration: none;
							border-color:$primary;
							color: #888;
						}
						&:focus{
							text-decoration: none;
							color: #888;
							border-color:#888;
						}
					}//a
				}//li
				.is-active{
					a{
						background: $primary;
						border-color:$primary;
						color:$white;

						&:hover{
							color:$white;
						}
					}
				}//.is-active
			}//ul
		}//.mixit-account-nav
		.woocommerce-MyAccount-content{
			label{
				color: #555;
				display: block;
				font-size: 0.875rem;
				font-weight: normal;
				line-height: 1.8;
				margin: 0 0 0.3125rem;
			}
			input{
				border: 1px solid #e1e1e1;
				@include border-radius(2px);
				line-height: 1.875rem !important;
				margin-bottom: 0;
				padding: 0.5rem 0.3125rem;
			}
			.woocommerce-Button.button{
				background-color:$primary; 
				@include transition(all 0.8s ease-in-out);
				@include box-shadow(none);
				color: $white;

				&:hover{
					background-color: #2d2d2d;
					border-color:#2d2d2d;
				}
			}
			fieldset{
				legend{
					padding:20px 0;
				}//legend
			}//fieldset
			.woocommerce-Message{
				border-color:$primary;
			}//woocommerce-Message
		}//.woocommerce-MyAccount-content
		table.my_account_orders{
			font-size: 14px;

			th{
				padding:0.625rem !important;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 14px;
			}//th
			td{
				padding:0.625rem;
			}
			td.order-actions{
				a{
					background-color:transparent;
					border:2px solid #e1e1e1;
					color: #888;
					@include border-radius(0.25rem);
					font-size: 0.875rem;
					font-weight: bold;
					text-transform: uppercase;
					padding:1rem 2.5rem;
					@include transition(all 0.25s ease-out);

					&:hover{
						background-color: $primary;
						border-color: $primary;
						color:$white;
					}
				}
			}//.order-actions
		}//table.my_account_orders
	}//.my-account
}//.mixit-my-account-page