.content-404{
	padding: 20px 20px 100px;
	h2{
		font-size: 150px !important;
		line-height: 1.75 !important;
		@include media(xs){
			font-size: 120px;
			line-height: 1.5;
		}
	}
	.subtitle-404{
		text-transform: uppercase;
		font-weight: 300;
		font-size: 30px;
		color: $link;
		margin: 0 0 55px;
		position:relative;

		&:after{
			content: '';
			position:absolute;
			width: 245px;
			left: 0;
			right: 0;
			bottom:-25px;
			margin: 0 auto;
			height: 1px;
			background-color: #fff;
		}//&:after
	}//.subtitle-404
	.description-404{
		text-transform: uppercase;
		color: #888;
		margin-bottom: 50px;
		display: block;
	}//.description-404
	.btn-404{
		padding:1rem 2.5rem;
		color:#888;
		border:1px solid #e1e1e1;
		@include border-radius(0.25rem);
		display: inline-block;
		&:hover{
			background-color:$primary;
			border-color:$primary;
			color:$white;
			text-decoration: none;
		}
	}
}//.404-content

.error404{
	.page-banner-image{
		height: 78vh;
		background-size: cover;
		img{
			display: none !important;
		}
		h2.banner-centered-title{
			font-size: 5rem !important;
		}
		@include media(xs){
		    height: 100vh;
		    h2.banner-centered-title{
		    	font-size: 2.5rem !important;
		    }
		}
		@include vh-polyfill(height, 100);
	}
}