.wpcf7{
	.margin-bottom-30{
		margin-bottom: 10px;
	}
	input[type="text"],
	input[type="email"],
	textarea{
		border: 1px solid #e1e1e1;
		@include border-radius(2px);
		line-height: 1.875rem !important;
		margin-bottom: 0;
		padding: 0.5rem 0.3125rem;
		width: 100%;
	}

	input[type="submit"]{
		padding: 1rem 2.5rem;
	    background-color: $primary;
	    border-color: $primary;
	    text-transform: uppercase;
	    box-shadow: none;
	    color: $white;
	    text-shadow: none;
	    font-size: 14px;
	    font-weight: 700;
	    &:hover{
	    	background-color:#2d2d2d;
	    	border-color:#2d2d2d;
	    }
	}
}