.cart-table{
	padding:6.25rem 0 4.25rem;
	@include media(xs){
		padding-top: 1.25rem;
	}
	.shop_table{
		background: #fbfbfb;
		tr{
			th{
				padding:20px;
				text-align: center;
				text-transform: uppercase;
				font-weight: bold;
				color: #555;
			}//th
			.product-thumbnail{
				width: 10.625rem;
			}
			td{
				padding:20px;
				text-align:center;

				a{
					img{
						max-width: 10.625rem;
					}
				}
			}
			.product-name{
				text-align: left;
				text-transform: uppercase;
				font-weight: bold;
					a{
						color: #555;

						&:hover{
							color: $primary;
							text-decoration: none;
						}
					}
			}//.product-name
			.product-quantity{
				.quantity{
					padding-right:1.25rem;
					input[type="number"]{
						height: 3rem;
						width: 4.631em;
					}
				}//.quantity
			}//.product-quantity
			.product-price{
				color: #888;
			}//.product-price
			.product-subtotal{
				color: $primary;
				font-weight: bold;
			}//.product-subtotal
			.product-remove{
				.remove{
					i{
						color: #555;
						font-size: 14px;
					}

					&:hover{
						background-color: transparent;
					}
					&:hover i{
						color: $primary;
					}

				}//.remove
			}//.product-remove

		}//tr
	}//.shop_table
	.mixit-cart-buttons-wrapper{
		@include clearfix();
		.cart-table-btn{
			padding:1rem 2.5rem;
			margin: 1.25rem 0;
			background-color:transparent;
			border:2px solid #e1e1e1;
			color: #888;
			text-transform: uppercase;

			&:hover{
				color: $white;
				background-color:$primary;
				border-color:$primary;
				@include box-shadow(none);
			}
		}//cart-table-btn
		.mixit-cart-buttons-left{
			float: left;
		}
		.mixit-cart-buttons-right{
			float: right;
			button{
				margin-right:1.25rem; 
			}
		}
	}//.mixit-cart-buttons-wrapper
}//.cart-table

/*----------------------------------------------------
				CART-COLLATERALS
------------------------------------------------------*/
.cart-collaterals{
	h2{
		margin-bottom: 2.1875rem;
		font-size: 1.875rem;
		font-weight: 300;
		text-transform: capitalize;
		}
		.coupon{
			h2{
				padding-bottom:0.3125rem;
				margin-bottom: 0;
			}
			.discount-description{
				font-size: 0.9rem;
				line-height: 1.5rem;
				margin-bottom: 1.5rem;
				font-family: open sans;
			}
			input[type="text"]{
				padding: 0.125rem 0.5125rem;
				line-height: 1.875rem;
				max-width: 300px;
				width: 100%;
				display: block;
			}
			input[type="submit"]{
				padding:1rem 2.5rem;
				margin: 1.25rem 0;
				background-color:transparent;
				border:2px solid #e1e1e1;
				color: #888;
				text-transform: uppercase;

				&:hover{
					color: $white;
					background-color:$primary;
					border-color:$primary;
					@include box-shadow(none);
				}
			}
		}
	.cart_totals{
		h2{
			border-bottom: 1px solid #e1e1e1;
			padding-bottom: 1.25rem;
		}
		.wc-proceed-to-checkout{
			.checkout-button{
				float: right;
				padding:1rem 2.5rem;
				background-color:$primary;

				&:hover{
					background-color:#2d2d2d;
					border-color:#2d2d2d;
				}
			}
		}

	}//.cart_totals 

}//.cart-collaterals


/*:::::::::::::::::::::::::::::::::::::::::::
				EMPTY CART 
:::::::::::::::::::::::::::::::::::::::::::::*/
.cart-empty-wrapper{
	 i{
		font-size: 200px;
		line-height: 250px;
		color:#000;
	}
	h2{
		font-size:30px;
		font-weight: 300;
		color: #555;
		text-transform: uppercase;
		font-family: Open Sans;
		position: relative;
		margin-bottom: 55px;

		&:after{
			background:#ebebeb;
			width: 200px;
			height: 1px;
			content: '';
			position:absolute;
			left: 0;
			right: 0;
			bottom:-24px;
			margin:0 auto;
		}
	}
	.empty-para{
		margin-bottom: 50px;
		font-style: 14px;
		color: #888;
	}
	.return-to-shop{
		a{
			color: $white;
			padding:1rem 2.5rem;
			background-color: $primary;
			border-color:$primary;
			text-transform: uppercase;
			font-size: 0.875rem;
			font-weight: bold;
			&:hover{
				background-color: #2d2d2d;
				border-color:#2d2d2d;
				color: $white;
			}
		}
	}
}


.wc_payment_methods{
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}
li.wc_payment_method{
	img{
		display: none;
	}
}