body{
    overflow-x: hidden;
}
.shop-by-brand-wrapper{
    padding: 55px 0 0;
    max-width: 1200px;
    margin: 10px auto 5px;

    h3{
        @extend .heading-style;
    }

    .description{
        padding: 0 15px;
        font-style: italic;
    }

    .mixit-brand_carousel {
        padding: 15px;
    }
    
    .mixit-brand_carousel{
        .brand-item{
            border: 1px solid #ccc;
            background-color: white;
            padding: 9px;
            margin: 7px;
            float: left;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center; 
            height: 100px;
            width:150px;
        }
    }


    .shop-brand-pagination{
        a{
            span{
                background: #e8e9e9;
                border:none;
                border-radius: 50%;
                display: inline-block;
                height: 0.8125rem;
                padding: 0;
                text-indent: -999em;
                vertical-align: middle;
                width: 0.8125rem;
                margin: 0 0.3125rem;
            }
        }

        .selected{
            span{
                background: transparent;
                border:2px solid $primary;
            }
        }

    }//.shop-brand-pagination

}//.shop-by-brand-wrapper

// .imagemapper-wrapper{
//     overflow: hidden;
// }

[id^="imapper"]{
    font-family: 'Open Sans' !important;
    
    &.imapper-content-wrapper{
        .my_product_header{
            border-bottom: 0 !important;
            max-height: auto !important;

            .my_product_title_inner{
                text-transform: uppercase !important;
                margin-top: 20px !important;
            }

        }

        .my_product_price{
            margin-bottom: 15px;
        }

        .my_product_close{
            @include transition(all 0.35s ease-in-out);
            display: block;
            width: 30px;
            height: 30px;
            border: 1px solid $link;
            border-radius: 50%;
            text-align: center;
            margin-top: -25px;

            i{
                display: none;
            }

            &:before,
            &:after{
                @include transition(all 0.35s ease-in-out);
                content: "";
                width: 20px;
                height: 1px;
                background: $link;
                position: absolute;
                right: 4px;
                @include rotate(45);
                top: 13px;
            }

            &:after{
                @include rotate(-45);
            }

            &:hover{
                border-color: $primary;

                &:before,
                &:after{
                    background: $primary;
                    @include rotate(135);
                }

                &:after{
                    @include rotate(-135);
                }

            }

        }

        .my_product_description{
            &.mCustomScrollbar {
                height: 122px !important;
            }
        }

        .my_product_footer{
            .my_add_item{
                display: none;
            }

            .my_view_item{
                @include border-radius(5px);
                position: absolute;
                bottom: 22px;
                left: 20px;
                max-width: 200px;
            }
        }

    }

}

