.customer-block{
	font-size: 13px;
	line-height: 26px;
	color: $white;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;  
	display: -ms-flexbox;
	display: flex;
	@include clearfix();
	@include media(xs){
		display: inherit;
	}

		h2{
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 20px;
			margin-top: 0;
			letter-spacing: -1px;
			font-weight: bold;
		}/*h2*/

	.customer-column{padding: 30px;}/*customer-column*/

	.customer{
		background-color:#1d242c;
			.mixit-text-button{
				padding:30px 0;
				@include transition(all 0.2s ease-out);

				a{
					padding:0.58rem 0.725rem;
					background-color:$primary;
					margin: 1.25rem 0;
					color: $white;
					font-weight: normal;
					text-transform: uppercase;
					@include border-radius(5px);
					@include media(sm){
						padding:1rem 1.125rem;
					}
					@include media(xs){
						padding:1rem 3.125rem;
					}

					&:hover{
						color: $white;
						background-color:#2d2d2d;
						border-color:#2d2d2d;
						@include box-shadow(none);
						text-decoration: none;
						text-decoration: none;
					}
				}
			}//mixit-text-button
	}/*customer*/

	.customer-review{
		background-color:#242e38;

		.testimonial-wrapper{
			text-align: center;

			.mixit-testimonial-title{
				font-family: Open Sans;
				font-size: 14px;
				font-style: normal;
				font-weight: 800;
				color: $white;
				text-transform: uppercase;

				a{
					color: $primary;
				}
			}

			img{
				width:6.875rem;
				height: 6.875rem;
				border-radius: 50%;
				margin: 0 auto;
			}
			.testimonial-inner-wrapper{
				min-height: 140px;
				
				.testimonial-content{
					// font-size: 20px;
					// line-height: 30px;
					overflow: hidden;
					width: 100%;
				}
			}
		}
	}/*customer-review*/

	.customer-offer{
		background-color:#283747;
		.subscribe-email{
			background-color:rgba(0, 0, 0, 0);
			border-color: #4e5a66;
			color: #4e5a66;
			font-style: italic;
			margin-bottom: 1.5rem;
			height: 3rem;
			padding:0.625rem;
			@include transition(all 0.2s ease-out);

			&:focus{
				@include box-shadow(none);
				background:$white;
				border-color:$primary;
			}
		}
		.subscribe-btn{
			background-color:rgba(0, 0, 0, 0);
			margin: 0;
			@include box-shadow(none);
			@include text-shadow(none);
			@include transition(all 0.2s ease-out);
			color: #fff;
			padding:0.58rem 1.375rem;
			border:2px solid #535f6c;
			&:hover{
				border-color:$primary;
				background-color:$primary;
			}
		}
	}/*customer-offer*/

}/*customer-block*/
