// Styles for Designer Template

.heading-style{
	position: relative;
	font-size: 22px;
	font-weight: 700;
	display: inline-block;
	text-transform: uppercase;

	&:before{
		position: absolute;
		left: -55px;
		top: 50%;
		height: 2px;
		width: 40px;
		content: "";
		background: lighten($black, 10%);

		@include media(xs){
			display: none;	
		}
	}

	&:after{
		position: absolute;
		right: -55px;
		top: 50%;
		height: 2px;
		width: 40px;
		content: "";
		background: lighten($black, 10%);
		@include media(xs){
			display: none;
		}
	}
}
.designer-banner-holder{
	&.banner-holder{
		.banner-text h1{
			font-size: 72px;
			text-transform: uppercase;
			font-weight: 600;
			@include media(xs){
				font-size: 22px;
			}
		}
		
	}
}
.designer-template-wrapper{
	background: #f5f5f5;
	padding: 25px 10px;

	.title-designer{
		max-width: 700px;
		margin: 10px auto 40px;
		
		h1{
			@extend .heading-style
		}

		p{
			font-style: italic;
		}
	}

	.designer-grid{
		max-width: 1200px;
		margin: 20px auto 40px;

		.designer-holder{
			width: 33.3%;
			float: left;
			padding: 3px;
			background: darken($white, 3%);

			@include media(ls){
				width: 50%;
			}

			&:first-of-type{
				@include media(ls){
					width: 100%;
				}
				.designer-main{
					height: 405px;
					@include media(ls){
						height: 200px;
					}
				}
			}

			

			.designer-main{
				position:relative;
				overflow:hidden;
				height: 200px;

				.hover-designer{
					@include transition(all 0.35s ease-in-out);
					visibility: hidden;
					opacity: 0;
					position: absolute;
					top:0 ; right: 0; bottom: 0; left: 0;
					background: rgba($black, 0.49);
				}
				
				p{
					@include transition(all 0.35s ease-in-out);
					visibility: hidden;
					opacity:0;
					text-align: center;
					text-transform: uppercase;
					font-weight: 600;
					color: $white;
					position: absolute;
				    top: 50%;
				    left: 50%;
				    transform: translateX(-50%) translateY(-50%);
				}

				&:hover{
					.hover-designer{
						visibility: visible;
						opacity: 1;
					}

					p{
						visibility: visible;
						opacity:1;
					}
				}

			}

		}
	}
}

.white-bg{
	background-color: $white;
}