.woocommerce{
 	.added-cart-no-title{
    	.ui-dialog-titlebar{
    		display: none;
    	}//.ui-dialog-titlebar
    	.close-message{
    		float: right;
    	}//close-message
	    #popup-after-add-to-cart{
	    	padding:1.25rem;
	    	img{
				margin-bottom: 20px;
				width: 100px;
	    	}
	    	text-align: center;
	    	h5{
				font-size: 1rem;
				font-weight: bold;
				margin: 0;
				text-transform: uppercase;
				color: #555;
	    	}//h5
	    	.popup-message{
				font-size: 1.4rem;
				line-height: normal;
				margin: 0.625rem 0 1.25rem;
				font-style: italic;
				font-family: "Crimson Text",serif;
				color: #888;
	    	}//popup-message
	    	.button{
				border: 2px solid #e1e1e1;
				@include border-radius(0.25rem);
				color: #888888;
				font-size: 0.875rem;
				font-weight: bold;
				text-transform: uppercase;
				margin: 0.625rem auto 0;
				padding:1rem 2.5rem;
				text-decoration: none;
				width: 13.75rem;
				//background-color:$primary;
				display: block;
	    	}
	    	.popup-button-continue{
				background-color:transparent;
				&:hover{
					background-color:$primary;
					border-color:$primary;
					color: $white;
				}
	    	}//.popup-button-continue
	    	.view-popup-addcart{
	    		background-color:$primary;
	    		border-color:$primary;
	    		color: $white;
	    		&:hover{
	    			background-color:#2d2d2d;
	    			border-color:#2d2d2d;
	    		}
	    	}//view-popup-addcart
	    	.close-message-text{
				bottom: 1.313rem;
				font-size: 0.75rem;
				left: 0;
				position: absolute;
				width: 100%;
				color: #888;
	    	}
	    }//#popup-after-add-to-cart
	}//added-cart-no-title
}

.home-page.woocommerce{
	.products{
		background-color: #f5f5f5;
		padding-top: 60px;
		@include media(sm){
			padding-top: 30px;
		}
	}
	ul.products{
		li.product{
			@include media(lg){
				width: 20%;
			}
			@include media(md){
				width: 25%;
			}
			@include media(sm){
				width: 50%;
			}
			@include media(xs){
				width: 100%;
			}
        }
    }
    .no-title{
    	z-index: 0;
    	.ui-dialog-titlebar{
    		display: none;
    	}//ui-dialog-titlebar
    	.product-single-wrapper{
    		padding: 0.9rem 0 0;
    	}//product-single-wrapper
    	.ui-dialog-buttonset{
    		>button{
    			background: $primary;
				border-color: $primary;
				@include box-shadow(none);
				color: $white;
				@include text-shadow(none);
				@include transition(all ease-out 0.5s);
				&:hover{
					background-color:#2d2d2d;
					border-color:#2d2d2d;
				}
    		}
    	}
    }//no-title
   
}
.products{
	padding-bottom:30px;
	.element-item{
		margin-bottom:1.875rem;
		@include media(lg){
				width: 20%;
			}
	}/*element-item*/

	h2{
		font-size: 1.75rem;
		color: $link;
		text-align: center;
		margin: 0;
	}/*h2*/

	.button-group{
		text-align: center;
		margin:4.375rem 0;
			@include media(xs){
				margin:1.375rem 0 0;
			}

		.c-tab-btn{
			@include box-shadow(none);
			@include media(sm){
				margin-bottom:10px;
			}
			@include media(xs){
				padding:10px;
				margin: 0 5px 10px;
			}
		}
	
		.active{
			background-color: $primary;
			border-color:$primary;
			color:#fff;
			@include box-shadow(none);
		}/*active*/
	}/*button-group*/
	.product-item-image{
		img{
			width: 100%;
		}
	}
	.product-item-info{
		padding:1.25rem 1.875rem;
		background-color: $white;
		font-size: 1rem;
		font-weight: bold;
		line-height: normal;
		text-transform: uppercase;
		color: $link;


		.icon{
			float: right;
		}/*icon*/
	}/*product-item-info*/

	.mixit-product-button{
		padding:1rem 15px;
		text-align: center;
		font-size: 16px;
		text-transform: uppercase;
		border:2px solid #e1e1e1;
		font-weight: bold;
		margin: 60px auto;
		width: 226px;
		@include transition(all 0.2s ease-out);
		@include border-radius (5px);

		@include media(xs){
			padding:1rem 0.375rem;
			margin: 0 15px;
		}

			a{
				// padding:1rem 9.375rem;
				color: #888;

				&:hover{
					text-decoration: none;
				}
			}

			&:hover{
				background-color:$primary;
				border-color:$primary;

				a{
					color:$white;
				}
			}
		}

}/*products*/