
.offer{
	text-align: center;
	color: $white;
	font-size: 16px;
	line-height: 30px;
	font-weight: normal;
	@include clearfix();
	@include media(xs){
		padding: 0 15px;
	}

	.box-column{
		width: 50%;
		float: left;
		overflow: hidden;
		position: relative;

		@include media(xs){
			width: 100%;
			margin-bottom: 20px;
		}

	.box{


		&:hover{

			.background-img{
				@include scale(1.2);
			}
		}

		.background-img{
			// background-image: url('http://localhost/mixit/wp-content/themes/mixit/assets/src/images/home_1_banner_2_1-1.jpg');
			background-size:cover;
			background-position: center;
			position:absolute;
			left:0;
			right:0;
			top:0;
			bottom:0;
			z-index:1;
			@include transition(all 300ms ease-out);
		}

			.overlay{
				@extend .overlay;
				background: rgba($overlay-bg, 0.6);
		}
		&:hover{
			background-size:135%;
		}

		&:hover .overlay{
			/*@extend .overlay;*/
			background: rgba($overlay-bg, 0.2);
		}

		.sub-title{
			font-size: 110px;
			line-height: 150px;
			font-weight: 300;

			@include media(xs){
				font-size: 50px;
				line-height:60px;
				margin-bottom: 15px;
			}

			@include media(md){
				font-size: 40px;
				line-height:50px;
			}
			
		}/*sub-title*/
	.box-holder{
		position: relative;
		z-index: 3;

		.box-text{
			padding: 60px 0.9375rem;
			h2{
				font-size: 30px;
				line-height: 30px;
				margin: 0;

				@include media(md){
					font-size: 28px;
				}
			}
			.box-btn{
				border: 2px solid $white;
				color: $white;
				display: inline-block;
				font-size: 0.875rem;
				font-weight: bold;
				line-height: 100%;
				margin-top: 1.25rem;
				padding: 1rem 2.375rem;
				text-transform: uppercase;
				@include border-radius(0.25rem);
				@include transition(all 0.2s ease-out);

				&:hover{
					text-decoration:none;
					background-color: $primary;
					border-color: $primary;
				}
			}
		}/*box-text*/
	}/*box-holder*/


	}/*box*/
	}/*box-column*/

}/*offer*/