.c-btn{
	color: $white;
	padding:1rem 3.125rem;
	@include transition(all 0.2s ease-out);

	&:focus{
		outline: none;
	}
}

.c-btn-pri{
	background-color: $primary;
	border-color:$primary;
	@include border-radius(0.25rem);
	@include box-shadow(none);
	@include transition(all 0.2s ease-out);
	&:focus{
		outline: none;
	}
}

.c-btn-transparent{
	border:2px solid #535f6c;
	@include border-radius(0.25rem);
	@include box-shadow(none);
	color:$white;
	background-color:transparent;
	border-color: #4e5a66;
	color: #fff;
	margin-bottom: 2.5rem;
	height: 3rem;
	text-transform:uppercase;
	font-weight:bold;
	@include transition(all 0.2s ease-out);
	&:focus{
		outline: none;
	}

}

.c-tab-btn{
	background:rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border-color: #bbb;
	margin-left: 0.625rem;
	margin-right: 0.625rem;
	padding: 0.9375rem 2.5rem;
	text-transform: uppercase;
	font-size:0.8125rem;
	font-weight: bold;
	line-height: 100%;
	color:#888;
	@include border-radius(2px);
	@include transition(all 0.2s ease-out);
	&:focus{
		outline: none;
	}

}