#scroll-to-top{
	position: fixed; 
	z-index: 999999; 
	bottom: 20px; 
	right: 20px; 
	display: block;
	
	span{
		cursor:pointer;
		display: inline-block;
		padding: 10px 20px;
		background: $primary;
		color: $white;
		border-radius: 2px;
	}
}