.blog{
	.post-page{
		.mixit-single-post-wrapper{

			article{
				.row{
					border-bottom: 1px solid #e6e6e6;
					padding-bottom: 1.875rem;
				}

				&:last-of-type{
					.row{
						border-bottom: 0;
						padding-bottom: 0;
					}
				}
				padding: 1.875rem 1.875rem 0;

				a{
					color: $black-light;
					text-decoration: none;
					&:visited{
						color: $black-light;
					}
					&:hover,
					&:focus{
						color: $primary;
					}
				}

				.post-image{
					margin-bottom: 1.875rem;
					height: 210px;
					margin-left: -15px;
					@include media(xs){
						padding: 0;
						height: 120px;
					}
				}
				.entry-content{
					margin-top: 0 ;
				}

			}

		}
	}
	
	.pagination{
		float: none;
		width: 100%;
		text-align: center;
	}

	.nav-links{
		.page-numbers{
			@include transition(all 0.35s ease-in-out);
			padding: 5px 10px;
			font-weight: 700;
			color: $link;
			border: 1px solid #ccc;
			text-decoration: none;

			&.current,
			&:hover{
				color: $white;
				background: $link;
				border-color: $link;
			}
		}
	}
}

.post-page{
	.mixit-single-post-wrapper{
		.main-content-holder{
			background: transparent;
			padding:0;

			header.entry-header{
				h2.entry-title{
					font-weight: 700;
					margin-top: 0;
				}
				font-weight: 700;
				.entry-meta{
					a{
						color: #888;
					}
					color: #888;
					font-size: 0.9rem;
					font-family: inherit;
					font-style: normal;
				}
			}

			.entry-content{
				font-size: 0.875rem;
				color: $black-light;
				text-align: justify;
			}

			.read-blog{
				font-weight: 700;
			}

		}

		.post-image{
			margin-bottom: 1.875rem;
			@include media(xs){
				padding: 0 0 10px;
			}
		}
	}

	#secondary{
		.widget{
			ul{
				font-size: 0.9rem;
				li{
					padding: 10px 0;
				}
			}
		}
	}
}

// span.cat-links{
// 	a{
// 		padding: 1px 5px;
// 		margin: 0 10px;
// 		border: 1px solid #cecece;
// 		text-decoration: none;
// 		font-style: normal;
// 	}
// }

span.tags-links{
	a{
		color: $primary !important;
	}
}