//KEY FRAME
@mixin animation($animation){
    -webkit-animation:$animation;
    -o-animation:$animation;
    -o-animation:$animation;
    animation:$animation;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @-moz-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}


