@mixin sub-menu(){
  	ul{
	    background-color: $white;
	    margin-top: 3.75rem;
	    padding:0.9375rem 0;
	    @include box-shadow(0 6px 12px rgba(0, 0, 0, 0.176));
	    list-style: none;
	    margin-bottom: 0 !important;
	    // display: none;
	    visibility: hidden;
	    opacity: 0;
	    position: absolute;
	    top: 23px;
	    left: 0;
	    margin-left: 0;
	    min-width: 200px;
		@include media(xs){
			left:-52px;
		}
	    li{
	        border-top:1px solid #e1e1e1;
	        margin:0;
	        padding:0;

	        &:first-child{
	            border-top:0;
	        }
	    }//li

	    a{
	        text-transform: capitalize;
	        color: $link;
	        padding:0.875rem 1.875rem;
	        color:$link;
	        font-weight: normal;
	        outline: none;


	        i{
	        	margin-right:0.25rem;
	        	padding-right: 0.3125rem;
	        }
	    }
	}//ul

	a{
        color: $white;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 1.188rem;
        display: block;

        &:hover{
            color: $primary;
            text-decoration: none;
        }

        &:focus{
            outline: none;
            text-decoration: none;
        }
    }//a

}