body {
  font-family: Open Sans;
}

* {
  -webkit-outlin: none !important;
  outline: none !important;
}
*:hover, *:focus {
  -webkit-outlin: none !important;
  outline: none !important;
}

.c-btn {
  color: #fff;
  padding: 1rem 3.125rem;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.c-btn:focus {
  outline: none;
}

.c-btn-pri {
  background-color: #cb0a1f;
  border-color: #cb0a1f;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.c-btn-pri:focus {
  outline: none;
}

.c-btn-transparent {
  border: 2px solid #535f6c;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  color: #fff;
  background-color: transparent;
  border-color: #4e5a66;
  color: #fff;
  margin-bottom: 2.5rem;
  height: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.c-btn-transparent:focus {
  outline: none;
}

.c-tab-btn {
  background: transparent none repeat scroll 0 0;
  border-color: #bbb;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  padding: 0.9375rem 2.5rem;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: bold;
  line-height: 100%;
  color: #888;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.c-tab-btn:focus {
  outline: none;
}

.overlay, .woocommerce ul.products li.product .product-item-inner:hover .overlay, .offer .box-column .box .overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.95;
}

#scroll-to-top {
  position: fixed;
  z-index: 999999;
  bottom: 20px;
  right: 20px;
  display: block;
}
#scroll-to-top span {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  background: #cb0a1f;
  color: #fff;
  border-radius: 2px;
}

#footer {
  padding: 3.125rem 0 1.25rem;
  background-color: #1a1a1a;
  font-size: 0.8125rem;
  color: #585e64;
}
#footer:before, #footer:after {
  content: " ";
  display: table;
}
#footer:after {
  clear: both;
}
#footer a {
  color: #585e64;
}
#footer a:hover {
  text-decoration: none;
  color: #fff;
}
@media (max-width: 991px) {
  #footer .column {
    margin-bottom: 1.875rem;
  }
}
#footer .footer-top:before, #footer .footer-top:after {
  content: " ";
  display: table;
}
#footer .footer-top:after {
  clear: both;
}
#footer .footer-top .footer-logo {
  margin-top: 0;
  display: block;
}
@media (max-width: 991px) {
  #footer .footer-top .footer-logo {
    margin-bottom: 1.875rem;
  }
}
#footer .footer-top strong.title {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-bottom: 0.875rem;
  display: block;
}
@media (max-width: 991px) {
  #footer .footer-top strong.title {
    font-size: 1.125rem;
  }
}
#footer .footer-top ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#footer .footer-top ul li {
  padding: 0;
}
#footer .footer-top ul li a {
  color: #848484;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
#footer .footer-top ul li a:hover {
  color: #fff;
  text-decoration: none;
}
#footer .footer-top .contact-block {
  color: #fff;
}
#footer .footer-top .contact-block a {
  color: #fff;
}
#footer .footer-top .contact-block .contact-item {
  float: left;
  width: 100%;
}
#footer .footer-top .contact-block .contact-item .contact-item-icon {
  padding-right: 1.25rem;
  display: table-cell;
  vertical-align: middle;
}
#footer .footer-top .contact-block .contact-item .contact-item-icon i {
  border: 1px solid;
  height: 2.75rem;
  line-height: 2.625rem;
  text-align: center;
  width: 2.75rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#footer .footer-top .contact-block .contact-item .contact-item-content {
  display: table-cell;
  vertical-align: middle;
}
#footer .footer-bottom {
  border-top: 1px solid #282b2e;
  font-size: 0.6875rem;
  letter-spacing: 1px;
  margin-top: 0.875rem;
  padding: 0.875rem 0 0;
  text-align: center;
}

@media (min-width: 1199px) {
  .col-lg-total-5 {
    padding-left: 15px;
    padding-right: 15px;
    width: 20%;
    float: left;
  }
}
@media (max-width: 479px) {
  .col-xs-6 {
    width: 100%;
  }
}
.woocommerce {
  /*widget_price_filter*/
}
.woocommerce .widget_price_filter {
  /*ui-slider*/
  /*price_slider*/
  /*price_slider_amount*/
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
  background-color: #e1e1e1;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  background-color: #cb0a1f;
}
.woocommerce .widget_price_filter .price_slider {
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}
.woocommerce .widget_price_filter .price_slider_amount {
  /*button*/
  /*price_label*/
}
.woocommerce .widget_price_filter .price_slider_amount .button {
  float: none;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 0.625rem 1.5625rem;
  text-transform: uppercase;
  color: #888;
  background-color: transparent;
  border: 2px solid #e1e1e1;
  /*&:hover*/
}
.woocommerce .widget_price_filter .price_slider_amount .button:hover {
  background-color: #cb0a1f;
  border-color: #cb0a1f;
  color: #fff;
}
.woocommerce .widget_price_filter .price_slider_amount .price_label {
  font-size: 1rem;
  display: inline-flex;
  color: #888;
  width: 100%;
}
.woocommerce .widget_price_filter .ui-slider-horizontal {
  height: 4px;
}
.woocommerce .woocommerce-checkout-review-order ul#shipping_method li {
  text-indent: -30px;
}
@media (max-width: 991px) {
  .woocommerce .woocommerce-checkout .address-field {
    float: left !important;
    width: 100%;
  }
}
.woocommerce .checkout_coupon .address-field {
  float: left !important;
  width: 100%;
}
.woocommerce .form-row select,
.woocommerce .form-row textarea {
  padding: .5rem .3125rem;
}
.woocommerce #payment .payment_methods label {
  max-width: 82%;
  vertical-align: top;
  margin-top: -2px;
}

/*woocommerce*/
.woocommerce {
  /*ul.products*/
}
.woocommerce ul.products {
  /*li.product*/
}
.woocommerce ul.products li.product {
  padding-left: 0.9375rem !important;
  padding-right: 0.9375rem !important;
  margin: 0 0 1.875rem !important;
  /*product-item-inner*/
}
@media (min-width: 1199px) {
  .woocommerce ul.products li.product {
    width: 25%;
  }
}
@media (max-width: 479px) {
  .woocommerce ul.products li.product {
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin-bottom: 10px !important;
    width: 50%;
  }
}
.woocommerce ul.products li.product .product-item-inner {
  /*product-item-image*/
  /*&:hover*/
  /*product-item-info*/
}
.woocommerce ul.products li.product .product-item-inner .product-item-image {
  position: relative;
  /*alt_img*/
  /*badge */
  /*onsale*/
  /*new-badge*/
  /*action-hover-inner*/
  /*img*/
}
.woocommerce ul.products li.product .product-item-inner .product-item-image .alt_img {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all, 0.5s, ease, 0s;
  -moz-transition: all, 0.5s, ease, 0s;
  -o-transition: all, 0.5s, ease, 0s;
  transition: all, 0.5s, ease, 0s;
}
.woocommerce ul.products li.product .product-item-inner .product-item-image .badge {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 100%;
  padding: 1em;
  position: absolute;
  text-transform: uppercase;
  z-index: 0;
  margin: 0;
  background-color: #283747;
  top: 0.9375rem;
}
@media (max-width: 479px) {
  .woocommerce ul.products li.product .product-item-inner .product-item-image .badge {
    font-size: 12px;
    padding: 7px;
  }
}
.woocommerce ul.products li.product .product-item-inner .product-item-image .onsale {
  right: 0;
}
.woocommerce ul.products li.product .product-item-inner .product-item-image .new-badge {
  left: 0;
  color: #555;
  background-color: #fff;
}
.woocommerce ul.products li.product .product-item-inner .product-item-image .action-hover-inner {
  position: absolute;
  opacity: 0;
}
.woocommerce ul.products li.product .product-item-inner .product-item-image .action-hover-inner .button-wrapper {
  display: inline;
  margin: 1px;
}
.woocommerce ul.products li.product .product-item-inner .product-item-image .action-hover-inner a {
  background-color: #cb0a1f;
  color: #fff;
  height: 2.8125rem;
  width: 2.8125rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  line-height: 2.8125rem;
  text-align: center;
  padding: 0;
  opacity: 1;
  margin-left: 5px;
}
.woocommerce ul.products li.product .product-item-inner .product-item-image .action-hover-inner a .loader-search:after {
  font-family: WooCommerce;
  content: "\e01c";
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  position: absolute;
  top: 0.1em;
  right: 1.1em;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.woocommerce ul.products li.product .product-item-inner .product-item-image .action-hover-inner a .loader-search:after {
  color: transparent;
}
.woocommerce ul.products li.product .product-item-inner .product-item-image .action-hover-inner a.quickview.loading .loader-search:after {
  color: #ffffff;
}
.woocommerce ul.products li.product .product-item-inner .product-item-image .action-hover-inner a.quickview.loading .search-wrap .fa-search:before {
  color: transparent;
}
.woocommerce ul.products li.product .product-item-inner .product-item-image .action-hover-inner a.quickview.loading:after {
  display: none;
}
.woocommerce ul.products li.product .product-item-inner .product-item-image .action-hover-inner a.ajax_add_to_cart.loading .fa-shopping-cart {
  color: transparent;
}
.woocommerce ul.products li.product .product-item-inner .product-item-image img {
  min-height: 244px;
  height: 100%;
}
@media (max-width: 479px) {
  .woocommerce ul.products li.product .product-item-inner .product-item-image img {
    width: 100%;
    min-height: 130px;
  }
}
.woocommerce ul.products li.product .product-item-inner:hover {
  /*overlay*/
  /*alt_img */
  /*action-hover-inner*/
}
.woocommerce ul.products li.product .product-item-inner:hover .overlay {
  background: rgba(27, 30, 34, 0.3) none repeat scroll 0 0;
}
.woocommerce ul.products li.product .product-item-inner:hover .alt_img {
  opacity: 1;
  width: 100%;
}
.woocommerce ul.products li.product .product-item-inner:hover .action-hover-inner {
  left: 50%;
  max-width: 10.3125rem;
  position: absolute;
  top: 47%;
  width: 100%;
  z-index: 0;
  opacity: 1;
  text-align: center;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.woocommerce ul.products li.product .product-item-inner .product-item-info {
  /*h3*/
  /*price*/
}
.woocommerce ul.products li.product .product-item-inner .product-item-info h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 0rem;
  line-height: 1.1;
  /*a*/
}
@media (max-width: 479px) {
  .woocommerce ul.products li.product .product-item-inner .product-item-info h3 {
    font-size: 0.85rem;
  }
}
.woocommerce ul.products li.product .product-item-inner .product-item-info h3 a {
  color: #555;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: 400;
  text-transform: capitalize;
  /*&:hover*/
}
.woocommerce ul.products li.product .product-item-inner .product-item-info h3 a:hover {
  color: #cb0a1f;
  text-decoration: none;
}
.woocommerce ul.products li.product .product-item-inner .product-item-info .price {
  color: #cc0b21;
  display: block;
  font-weight: 400;
  margin-bottom: 0.5em;
  font-size: 1.1em;
  /*del*/
}
.woocommerce ul.products li.product .product-item-inner .product-item-info .price del {
  display: inline !important;
}
@media (max-width: 479px) {
  .woocommerce ul.products li.product .product-item-inner .product-item-info {
    font-size: 0.75rem;
    padding: 10px;
  }
}
.woocommerce div.product form.cart {
  margin-bottom: 1.2em !important;
}
.woocommerce button.button.disabled {
  opacity: 1 !important;
}
.woocommerce .summary.entry-summary table.shop_attributes td {
  padding: 8px;
}
.woocommerce .summary.entry-summary table.shop_attributes td p {
  margin-bottom: 0 !important;
}

/*woocommerce*/
.page-banner-image {
  position: relative;
  background-position: center;
  background-size: cover;
  /*banner-centered-title-header*/
  /*breadcrumb-holder*/
}
@media (max-width: 767px) {
  .page-banner-image {
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 280px;
  }
}
@media (max-width: 767px) {
  .page-banner-image img {
    margin-top: -75px;
  }
}
.page-banner-image .banner-centered-title-header {
  position: absolute;
  top: 35%;
  text-align: center;
  right: 0;
  left: 0;
  /*h1*/
}
@media (max-width: 991px) {
  .page-banner-image .banner-centered-title-header {
    top: 25%;
  }
}
@media (max-width: 767px) {
  .page-banner-image .banner-centered-title-header {
    text-align: center;
    position: inherit;
  }
}
.page-banner-image .banner-centered-title-header h1,
.page-banner-image .banner-centered-title-header h2 {
  font-size: 5rem;
  font-weight: 300;
  color: #fff;
}
@media (max-width: 991px) {
  .page-banner-image .banner-centered-title-header h1,
  .page-banner-image .banner-centered-title-header h2 {
    font-size: 4.5rem;
  }
}
@media (max-width: 767px) {
  .page-banner-image .banner-centered-title-header h1,
  .page-banner-image .banner-centered-title-header h2 {
    font-size: 2.5rem;
  }
}
.page-banner-image .breadcrumb-holder {
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(28, 31, 36, 0.5);
  /*woocommerce-breadcrumb*/
}
.page-banner-image .breadcrumb-holder .woocommerce-breadcrumb {
  margin: 1.5625rem 0;
  line-height: 1.875rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
}
@media (max-width: 479px) {
  .page-banner-image .breadcrumb-holder .woocommerce-breadcrumb {
    margin: 0.563rem 0;
    font-size: 11px;
  }
}
@media (max-width: 767px) {
  .page-banner-image .breadcrumb-holder .woocommerce-breadcrumb {
    margin: 0.563rem 0;
  }
}
.page-banner-image .breadcrumb-holder .woocommerce-breadcrumb a {
  color: #777;
}
.page-banner-image .breadcrumb-holder .woocommerce-breadcrumb a:hover {
  color: #cb0a1f;
  text-decoration: none;
}
.page-banner-image .breadcrumb-holder .woocommerce-breadcrumb i {
  padding: 0 1.25rem;
}
@media (max-width: 479px) {
  .page-banner-image .breadcrumb-holder .woocommerce-breadcrumb i {
    padding: 0 1px;
    font-size: 11px;
  }
}

/*page-banner-image*/
.shop-sidebar {
  padding-top: 0;
  margin-top: 2.25rem;
  padding-left: 0;
  padding-right: 0;
  background-color: #fff;
  /*aside*/
  /*ul.product-categories*/
}
@media (min-width: 1199px) {
  .shop-sidebar {
    width: 20%;
  }
}
@media (max-width: 991px) {
  .shop-sidebar {
    padding: 0;
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .shop-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    z-index: 999999;
    overflow-y: scroll;
  }
}
.shop-sidebar aside {
  padding: 0.9375rem 1.875rem;
  /*h3*/
}
.shop-sidebar aside .woocommerce-product-search .search-field {
  float: left;
  width: calc( 100% - 70px);
  margin-right: 10px;
  padding: 6px 15px;
}
.shop-sidebar aside .woocommerce-product-search input[type="submit"] {
  float: left;
  padding: 10px 10px;
}
.shop-sidebar aside h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  border-bottom: 2px solid  #e1e1e1;
  padding-bottom: 0.3125rem;
}
.shop-sidebar ul.product-categories,
.shop-sidebar ul.brand-list {
  list-style: none;
  margin: 0;
  padding: 0;
  /*li*/
  /*current-cat a*/
}
.shop-sidebar ul.product-categories li,
.shop-sidebar ul.brand-list li {
  padding: 0.3rem 0;
  border-top: 1px solid #f1eeee;
  /*&:first-child*/
  /*a*/
}
.shop-sidebar ul.product-categories li:first-child,
.shop-sidebar ul.brand-list li:first-child {
  border-top: none;
}
.shop-sidebar ul.product-categories li a,
.shop-sidebar ul.brand-list li a {
  color: #555;
}
.shop-sidebar ul.product-categories li a:hover,
.shop-sidebar ul.brand-list li a:hover {
  color: #cb0a1f;
  text-decoration: none;
}
.shop-sidebar ul.product-categories li a i,
.shop-sidebar ul.brand-list li a i {
  float: right;
}
.shop-sidebar ul.product-categories li ul,
.shop-sidebar ul.brand-list li ul {
  list-style: none;
  padding: 0;
}
.shop-sidebar ul.product-categories li ul li:before,
.shop-sidebar ul.brand-list li ul li:before {
  content: "\f105";
  font-family: fontawesome;
  margin-right: 10px;
}
.shop-sidebar ul.product-categories .current-cat a,
.shop-sidebar ul.brand-list .current-cat a {
  color: #cb0a1f;
  text-decoration: none;
}

/*shop-sidebar*/
#filtertoggle {
  margin-left: 10px;
}

.closefilter {
  background: #333 !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 88888;
}
.closefilter:after {
  content: " x ";
  right: 7%;
  position: absolute;
  top: 44%;
  font-size: 44px;
  color: #777;
}

.ui-dialog .ui-dialog-titlebar {
  display: none !important;
}
.ui-dialog .ui-dialog-content .product-single-wrapper {
  padding: 0;
}
.ui-dialog .ui-dialog-content .product-single-wrapper .images {
  width: 28% !important;
}
.ui-dialog .ui-dialog-content .product-single-wrapper .entry-summary {
  width: 68% !important;
  line-height: 1.5;
}
.ui-dialog .ui-dialog-content .product-single-wrapper .entry-summary h1 {
  margin: 0;
}
.ui-dialog .ui-dialog-content .product-single-wrapper .entry-summary form.cart {
  margin-bottom: 1em;
}
.ui-dialog .ui-dialog-content form.cart div.quantity {
  margin-bottom: 10px !important;
}
.ui-dialog button {
  background: #cb0a1f;
  border-color: #cb0a1f;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  color: #fff;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  -ms-text-shadow: none;
  text-shadow: none;
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}
.ui-dialog button:hover {
  background-color: #2d2d2d;
  border-color: #2d2d2d;
}

.ubermenu .ubermenu-nav .ubermenu-submenu.ubermenu-submenu-id-2326 {
  width: 100%;
  left: 0;
}
.ubermenu .ubermenu-nav .ubermenu-submenu.ubermenu-submenu-id-2326 .ubermenu-item-type-taxonomy {
  width: 100%;
}
.ubermenu .ubermenu-nav .ubermenu-submenu .ubermenu-target {
  padding: 5px 15px;
}
.ubermenu .ubermenu-nav .ubermenu-submenu .ubermenu-item-header > .ubermenu-target {
  padding-bottom: 0;
}
.ubermenu .ubermenu-nav li.ubermenu-column-1-3 {
  width: 40%;
}
.ubermenu .ubermenu-nav li.ubermenu-column-1-3:nth-of-type(2) {
  width: 20%;
}
.ubermenu .ubermenu-nav li.ubermenu-column-1-3 .ubermenu-submenu-type-stack > .ubermenu-item.ubermenu-column-auto {
  width: 100%;
}
.ubermenu .ubermenu-submenu-id-2522,
.ubermenu .ubermenu-submenu-id-2507,
.ubermenu .ubermenu-submenu-id-2536 {
  width: 315px !important;
}
.ubermenu .ubermenu-submenu-type-stack > .ubermenu-item.ubermenu-column-auto {
  float: left;
  width: 50%;
}
.ubermenu .ubermenu-submenu-type-stack.ubermenu-submenu-indent {
  padding-left: 5px;
}
@media (max-width: 767px) {
  .ubermenu .ubermenu-item-level-3 {
    min-width: 50% !important;
    max-width: 50% !important;
    width: 50% !important;
  }
}

@media (max-width: 959px) {
  .ubermenu.ubermenu-disable-submenu-scroll .ubermenu-active > .ubermenu-submenu.ubermenu-submenu-type-mega {
    top: 0 !important;
    height: 320px;
    max-height: 100vh !important;
    overflow-y: auto !important;
  }

  .ubermenu .ubermenu-item-level-0 > .ubermenu-submenu-drop {
    clip: auto !important;
  }
}
.ubermenu-responsive-toggle-icon-only .fa {
  font-size: 18px;
}

.woocommerce .added-cart-no-title .ui-dialog-titlebar {
  display: none;
}
.woocommerce .added-cart-no-title .close-message {
  float: right;
}
.woocommerce .added-cart-no-title #popup-after-add-to-cart {
  padding: 1.25rem;
  text-align: center;
}
.woocommerce .added-cart-no-title #popup-after-add-to-cart img {
  margin-bottom: 20px;
  width: 100px;
}
.woocommerce .added-cart-no-title #popup-after-add-to-cart h5 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  color: #555;
}
.woocommerce .added-cart-no-title #popup-after-add-to-cart .popup-message {
  font-size: 1.4rem;
  line-height: normal;
  margin: 0.625rem 0 1.25rem;
  font-style: italic;
  font-family: "Crimson Text",serif;
  color: #888;
}
.woocommerce .added-cart-no-title #popup-after-add-to-cart .button {
  border: 2px solid #e1e1e1;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  border-radius: 0.25rem;
  color: #888888;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.625rem auto 0;
  padding: 1rem 2.5rem;
  text-decoration: none;
  width: 13.75rem;
  display: block;
}
.woocommerce .added-cart-no-title #popup-after-add-to-cart .popup-button-continue {
  background-color: transparent;
}
.woocommerce .added-cart-no-title #popup-after-add-to-cart .popup-button-continue:hover {
  background-color: #cb0a1f;
  border-color: #cb0a1f;
  color: #fff;
}
.woocommerce .added-cart-no-title #popup-after-add-to-cart .view-popup-addcart {
  background-color: #cb0a1f;
  border-color: #cb0a1f;
  color: #fff;
}
.woocommerce .added-cart-no-title #popup-after-add-to-cart .view-popup-addcart:hover {
  background-color: #2d2d2d;
  border-color: #2d2d2d;
}
.woocommerce .added-cart-no-title #popup-after-add-to-cart .close-message-text {
  bottom: 1.313rem;
  font-size: 0.75rem;
  left: 0;
  position: absolute;
  width: 100%;
  color: #888;
}

.home-page.woocommerce .products {
  background-color: #f5f5f5;
  padding-top: 60px;
}
@media (max-width: 991px) {
  .home-page.woocommerce .products {
    padding-top: 30px;
  }
}
@media (min-width: 1199px) {
  .home-page.woocommerce ul.products li.product {
    width: 20%;
  }
}
@media (max-width: 1199px) {
  .home-page.woocommerce ul.products li.product {
    width: 25%;
  }
}
@media (max-width: 991px) {
  .home-page.woocommerce ul.products li.product {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .home-page.woocommerce ul.products li.product {
    width: 100%;
  }
}
.home-page.woocommerce .no-title {
  z-index: 0;
}
.home-page.woocommerce .no-title .ui-dialog-titlebar {
  display: none;
}
.home-page.woocommerce .no-title .product-single-wrapper {
  padding: 0.9rem 0 0;
}
.home-page.woocommerce .no-title .ui-dialog-buttonset > button {
  background: #cb0a1f;
  border-color: #cb0a1f;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  color: #fff;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  -ms-text-shadow: none;
  text-shadow: none;
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}
.home-page.woocommerce .no-title .ui-dialog-buttonset > button:hover {
  background-color: #2d2d2d;
  border-color: #2d2d2d;
}

.products {
  padding-bottom: 30px;
  /*element-item*/
  /*h2*/
  /*button-group*/
  /*product-item-info*/
}
.products .element-item {
  margin-bottom: 1.875rem;
}
@media (min-width: 1199px) {
  .products .element-item {
    width: 20%;
  }
}
.products h2 {
  font-size: 1.75rem;
  color: #555;
  text-align: center;
  margin: 0;
}
.products .button-group {
  text-align: center;
  margin: 4.375rem 0;
  /*active*/
}
@media (max-width: 767px) {
  .products .button-group {
    margin: 1.375rem 0 0;
  }
}
.products .button-group .c-tab-btn {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
@media (max-width: 991px) {
  .products .button-group .c-tab-btn {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .products .button-group .c-tab-btn {
    padding: 10px;
    margin: 0 5px 10px;
  }
}
.products .button-group .active {
  background-color: #cb0a1f;
  border-color: #cb0a1f;
  color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.products .product-item-image img {
  width: 100%;
}
.products .product-item-info {
  padding: 1.25rem 1.875rem;
  background-color: #fff;
  font-size: 1rem;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
  color: #555;
  /*icon*/
}
.products .product-item-info .icon {
  float: right;
}
.products .mixit-product-button {
  padding: 1rem 15px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  border: 2px solid #e1e1e1;
  font-weight: bold;
  margin: 60px auto;
  width: 226px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .products .mixit-product-button {
    padding: 1rem 0.375rem;
    margin: 0 15px;
  }
}
.products .mixit-product-button a {
  color: #888;
}
.products .mixit-product-button a:hover {
  text-decoration: none;
}
.products .mixit-product-button:hover {
  background-color: #cb0a1f;
  border-color: #cb0a1f;
}
.products .mixit-product-button:hover a {
  color: #fff;
}

/*products*/
.offer {
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
  /*box-column*/
}
.offer:before, .offer:after {
  content: " ";
  display: table;
}
.offer:after {
  clear: both;
}
@media (max-width: 767px) {
  .offer {
    padding: 0 15px;
  }
}
.offer .box-column {
  width: 50%;
  float: left;
  overflow: hidden;
  position: relative;
  /*box*/
}
@media (max-width: 767px) {
  .offer .box-column {
    width: 100%;
    margin-bottom: 20px;
  }
}
.offer .box-column .box {
  /*sub-title*/
  /*box-holder*/
}
.offer .box-column .box:hover .background-img {
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.offer .box-column .box .background-img {
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.offer .box-column .box .woocommerce ul.products li.product .product-item-inner:hover .overlay, .woocommerce ul.products li.product .product-item-inner:hover .offer .box-column .box .overlay, .offer .box-column .box .overlay {
  background: rgba(29, 36, 44, 0.6);
}
.offer .box-column .box:hover {
  background-size: 135%;
}
.offer .box-column .box:hover .woocommerce ul.products li.product .product-item-inner:hover .overlay, .woocommerce ul.products li.product .product-item-inner:hover .offer .box-column .box:hover .overlay, .offer .box-column .box:hover .overlay {
  /*@extend .overlay;*/
  background: rgba(29, 36, 44, 0.2);
}
.offer .box-column .box .sub-title {
  font-size: 110px;
  line-height: 150px;
  font-weight: 300;
}
@media (max-width: 767px) {
  .offer .box-column .box .sub-title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 15px;
  }
}
@media (max-width: 1199px) {
  .offer .box-column .box .sub-title {
    font-size: 40px;
    line-height: 50px;
  }
}
.offer .box-column .box .box-holder {
  position: relative;
  z-index: 3;
  /*box-text*/
}
.offer .box-column .box .box-holder .box-text {
  padding: 60px 0.9375rem;
}
.offer .box-column .box .box-holder .box-text h2 {
  font-size: 30px;
  line-height: 30px;
  margin: 0;
}
@media (max-width: 1199px) {
  .offer .box-column .box .box-holder .box-text h2 {
    font-size: 28px;
  }
}
.offer .box-column .box .box-holder .box-text .box-btn {
  border: 2px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 100%;
  margin-top: 1.25rem;
  padding: 1rem 2.375rem;
  text-transform: uppercase;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.offer .box-column .box .box-holder .box-text .box-btn:hover {
  text-decoration: none;
  background-color: #cb0a1f;
  border-color: #cb0a1f;
}

/*offer*/
.customer-block {
  font-size: 13px;
  line-height: 26px;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flexbox;
  display: flex;
  /*h2*/
  /*customer-column*/
  /*customer*/
  /*customer-review*/
  /*customer-offer*/
}
.customer-block:before, .customer-block:after {
  content: " ";
  display: table;
}
.customer-block:after {
  clear: both;
}
@media (max-width: 767px) {
  .customer-block {
    display: inherit;
  }
}
.customer-block h2 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 0;
  letter-spacing: -1px;
  font-weight: bold;
}
.customer-block .customer-column {
  padding: 30px;
}
.customer-block .customer {
  background-color: #1d242c;
}
.customer-block .customer .mixit-text-button {
  padding: 30px 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.customer-block .customer .mixit-text-button a {
  padding: 0.58rem 0.725rem;
  background-color: #cb0a1f;
  margin: 1.25rem 0;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
@media (max-width: 991px) {
  .customer-block .customer .mixit-text-button a {
    padding: 1rem 1.125rem;
  }
}
@media (max-width: 767px) {
  .customer-block .customer .mixit-text-button a {
    padding: 1rem 3.125rem;
  }
}
.customer-block .customer .mixit-text-button a:hover {
  color: #fff;
  background-color: #2d2d2d;
  border-color: #2d2d2d;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
  text-decoration: none;
}
.customer-block .customer-review {
  background-color: #242e38;
}
.customer-block .customer-review .testimonial-wrapper {
  text-align: center;
}
.customer-block .customer-review .testimonial-wrapper .mixit-testimonial-title {
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
}
.customer-block .customer-review .testimonial-wrapper .mixit-testimonial-title a {
  color: #cb0a1f;
}
.customer-block .customer-review .testimonial-wrapper img {
  width: 6.875rem;
  height: 6.875rem;
  border-radius: 50%;
  margin: 0 auto;
}
.customer-block .customer-review .testimonial-wrapper .testimonial-inner-wrapper {
  min-height: 140px;
}
.customer-block .customer-review .testimonial-wrapper .testimonial-inner-wrapper .testimonial-content {
  overflow: hidden;
  width: 100%;
}
.customer-block .customer-offer {
  background-color: #283747;
}
.customer-block .customer-offer .subscribe-email {
  background-color: transparent;
  border-color: #4e5a66;
  color: #4e5a66;
  font-style: italic;
  margin-bottom: 1.5rem;
  height: 3rem;
  padding: 0.625rem;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.customer-block .customer-offer .subscribe-email:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  background: #fff;
  border-color: #cb0a1f;
}
.customer-block .customer-offer .subscribe-btn {
  background-color: transparent;
  margin: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  -ms-text-shadow: none;
  text-shadow: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #fff;
  padding: 0.58rem 1.375rem;
  border: 2px solid #535f6c;
}
.customer-block .customer-offer .subscribe-btn:hover {
  border-color: #cb0a1f;
  background-color: #cb0a1f;
}

/*customer-block*/
.heading-style, .designer-template-wrapper .title-designer h1, .shop-by-brand-wrapper h3 {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  display: inline-block;
  text-transform: uppercase;
}
.heading-style:before, .designer-template-wrapper .title-designer h1:before, .shop-by-brand-wrapper h3:before {
  position: absolute;
  left: -55px;
  top: 50%;
  height: 2px;
  width: 40px;
  content: "";
  background: #1a1a1a;
}
@media (max-width: 767px) {
  .heading-style:before, .designer-template-wrapper .title-designer h1:before, .shop-by-brand-wrapper h3:before {
    display: none;
  }
}
.heading-style:after, .designer-template-wrapper .title-designer h1:after, .shop-by-brand-wrapper h3:after {
  position: absolute;
  right: -55px;
  top: 50%;
  height: 2px;
  width: 40px;
  content: "";
  background: #1a1a1a;
}
@media (max-width: 767px) {
  .heading-style:after, .designer-template-wrapper .title-designer h1:after, .shop-by-brand-wrapper h3:after {
    display: none;
  }
}

.designer-banner-holder.banner-holder .banner-text h1 {
  font-size: 72px;
  text-transform: uppercase;
  font-weight: 600;
}
@media (max-width: 767px) {
  .designer-banner-holder.banner-holder .banner-text h1 {
    font-size: 22px;
  }
}

.designer-template-wrapper {
  background: #f5f5f5;
  padding: 25px 10px;
}
.designer-template-wrapper .title-designer {
  max-width: 700px;
  margin: 10px auto 40px;
}
.designer-template-wrapper .title-designer p {
  font-style: italic;
}
.designer-template-wrapper .designer-grid {
  max-width: 1200px;
  margin: 20px auto 40px;
}
.designer-template-wrapper .designer-grid .designer-holder {
  width: 33.3%;
  float: left;
  padding: 3px;
  background: #f7f7f7;
}
@media (max-width: 500px) {
  .designer-template-wrapper .designer-grid .designer-holder {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .designer-template-wrapper .designer-grid .designer-holder:first-of-type {
    width: 100%;
  }
}
.designer-template-wrapper .designer-grid .designer-holder:first-of-type .designer-main {
  height: 405px;
}
@media (max-width: 500px) {
  .designer-template-wrapper .designer-grid .designer-holder:first-of-type .designer-main {
    height: 200px;
  }
}
.designer-template-wrapper .designer-grid .designer-holder .designer-main {
  position: relative;
  overflow: hidden;
  height: 200px;
}
.designer-template-wrapper .designer-grid .designer-holder .designer-main .hover-designer {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.49);
}
.designer-template-wrapper .designer-grid .designer-holder .designer-main p {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.designer-template-wrapper .designer-grid .designer-holder .designer-main:hover .hover-designer {
  visibility: visible;
  opacity: 1;
}
.designer-template-wrapper .designer-grid .designer-holder .designer-main:hover p {
  visibility: visible;
  opacity: 1;
}

.white-bg {
  background-color: #fff;
}

body {
  overflow-x: hidden;
}

.shop-by-brand-wrapper {
  padding: 55px 0 0;
  max-width: 1200px;
  margin: 10px auto 5px;
}
.shop-by-brand-wrapper .description {
  padding: 0 15px;
  font-style: italic;
}
.shop-by-brand-wrapper .mixit-brand_carousel {
  padding: 15px;
}
.shop-by-brand-wrapper .mixit-brand_carousel .brand-item {
  border: 1px solid #ccc;
  background-color: white;
  padding: 9px;
  margin: 7px;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100px;
  width: 150px;
}
.shop-by-brand-wrapper .shop-brand-pagination a span {
  background: #e8e9e9;
  border: none;
  border-radius: 50%;
  display: inline-block;
  height: 0.8125rem;
  padding: 0;
  text-indent: -999em;
  vertical-align: middle;
  width: 0.8125rem;
  margin: 0 0.3125rem;
}
.shop-by-brand-wrapper .shop-brand-pagination .selected span {
  background: transparent;
  border: 2px solid #cb0a1f;
}

[id^="imapper"] {
  font-family: 'Open Sans' !important;
}
[id^="imapper"].imapper-content-wrapper .my_product_header {
  border-bottom: 0 !important;
  max-height: auto !important;
}
[id^="imapper"].imapper-content-wrapper .my_product_header .my_product_title_inner {
  text-transform: uppercase !important;
  margin-top: 20px !important;
}
[id^="imapper"].imapper-content-wrapper .my_product_price {
  margin-bottom: 15px;
}
[id^="imapper"].imapper-content-wrapper .my_product_close {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #555;
  border-radius: 50%;
  text-align: center;
  margin-top: -25px;
}
[id^="imapper"].imapper-content-wrapper .my_product_close i {
  display: none;
}
[id^="imapper"].imapper-content-wrapper .my_product_close:before, [id^="imapper"].imapper-content-wrapper .my_product_close:after {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  content: "";
  width: 20px;
  height: 1px;
  background: #555;
  position: absolute;
  right: 4px;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 13px;
}
[id^="imapper"].imapper-content-wrapper .my_product_close:after {
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
[id^="imapper"].imapper-content-wrapper .my_product_close:hover {
  border-color: #cb0a1f;
}
[id^="imapper"].imapper-content-wrapper .my_product_close:hover:before, [id^="imapper"].imapper-content-wrapper .my_product_close:hover:after {
  background: #cb0a1f;
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
[id^="imapper"].imapper-content-wrapper .my_product_close:hover:after {
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
[id^="imapper"].imapper-content-wrapper .my_product_description.mCustomScrollbar {
  height: 122px !important;
}
[id^="imapper"].imapper-content-wrapper .my_product_footer .my_add_item {
  display: none;
}
[id^="imapper"].imapper-content-wrapper .my_product_footer .my_view_item {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 22px;
  left: 20px;
  max-width: 200px;
}

.page-banner-image.no-image {
  position: static;
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}
@media (max-width: 991px) {
  .page-banner-image.no-image {
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .page-banner-image.no-image {
    height: auto;
    margin-bottom: 0;
  }
}
.page-banner-image.no-image .banner-centered-title-header {
  position: inherit;
  background: rgba(26, 26, 26, 0.9);
  color: #fff;
}
.page-banner-image.no-image .banner-centered-title-header h1,
.page-banner-image.no-image .banner-centered-title-header h2 {
  padding-top: 95px;
  margin: 0;
  padding-bottom: 30px;
  font-size: 2.5rem;
}
.page-banner-image.no-image .breadcrumb-holder {
  position: inherit;
  background-color: inherit;
}
.page-banner-image.no-image .breadcrumb-holder .woocommerce-breadcrumb {
  margin: 0;
  color: #000;
  padding: 10px 0;
}

.shop {
  background-color: #f5f5f5;
}
.shop:before, .shop:after {
  content: " ";
  display: table;
}
.shop:after {
  clear: both;
}
@media (max-width: 991px) {
  .shop {
    padding: 15px;
  }
}
.shop .shop-right-col {
  padding-top: 2.25rem;
}
@media (max-width: 991px) {
  .shop .shop-right-col {
    padding: 0;
  }
}

.shop-right-col {
  padding-top: 6.25rem;
  padding-bottom: 3.125rem;
  /*product-wrapper*/
}
.shop-right-col .mixit-shop-toolbar {
  padding: 0 15px;
}
.shop-right-col .mixit-shop-toolbar a {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  display: block;
  font-size: 0.8125rem;
  line-height: 2.6875rem;
  padding: 0 2.5rem;
  text-transform: uppercase;
  background: #cb0a1f;
  float: left;
}
.shop-right-col .mixit-shop-toolbar a:hover {
  text-decoration: none;
}
.shop-right-col .mixit-shop-toolbar .shop-filter-wrapper {
  float: right;
}
.shop-right-col .mixit-shop-toolbar .shop-filter-wrapper .woocommerce-result-count {
  font-size: 1rem;
  line-height: 2.8125rem;
  margin-bottom: 0;
  color: #888;
  margin-right: 5px;
}
.shop-right-col .mixit-shop-toolbar .shop-filter-wrapper .woocommerce-ordering .orderby {
  border: none;
  background: transparent;
  color: #4b4c4c;
  text-transform: capitalize;
  font-size: 17px;
  margin-top: 9px;
  font-weight: 600;
  outline: none;
}
@media (min-width: 1199px) {
  .shop-right-col {
    width: 80%;
  }
}
.shop-right-col .product-wrapper {
  padding-top: 60px;
  /*nav.woocommerce-pagination*/
}
.shop-right-col .product-wrapper nav.woocommerce-pagination {
  /*page-numbers*/
}
.shop-right-col .product-wrapper nav.woocommerce-pagination .page-numbers {
  border: 0;
  /*li*/
}
.shop-right-col .product-wrapper nav.woocommerce-pagination .page-numbers li {
  border: 0;
  /*page-numbers*/
  /*current*/
}
.shop-right-col .product-wrapper nav.woocommerce-pagination .page-numbers li .page-numbers {
  background: #fff;
  display: block;
  height: 3rem;
  line-height: 2rem;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  text-align: center;
  width: 3rem;
  color: #555;
  font-size: 1rem;
  font-weight: bold;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  /*&:hover*/
}
@media (max-width: 1199px) {
  .shop-right-col .product-wrapper nav.woocommerce-pagination .page-numbers li .page-numbers {
    font-size: 0.875rem;
    height: 2.5rem;
    line-height: 2.5rem;
    width: 1.5rem;
  }
}
.shop-right-col .product-wrapper nav.woocommerce-pagination .page-numbers li .page-numbers:hover {
  background: #cb0a1f;
  color: #fff;
}
.shop-right-col .product-wrapper nav.woocommerce-pagination .page-numbers li .current {
  background: #cb0a1f;
  color: #fff;
}

/*shop-right-col*/
.cart-table {
  padding: 6.25rem 0 4.25rem;
}
@media (max-width: 767px) {
  .cart-table {
    padding-top: 1.25rem;
  }
}
.cart-table .shop_table {
  background: #fbfbfb;
}
.cart-table .shop_table tr th {
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #555;
}
.cart-table .shop_table tr .product-thumbnail {
  width: 10.625rem;
}
.cart-table .shop_table tr td {
  padding: 20px;
  text-align: center;
}
.cart-table .shop_table tr td a img {
  max-width: 10.625rem;
}
.cart-table .shop_table tr .product-name {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
}
.cart-table .shop_table tr .product-name a {
  color: #555;
}
.cart-table .shop_table tr .product-name a:hover {
  color: #cb0a1f;
  text-decoration: none;
}
.cart-table .shop_table tr .product-quantity .quantity {
  padding-right: 1.25rem;
}
.cart-table .shop_table tr .product-quantity .quantity input[type="number"] {
  height: 3rem;
  width: 4.631em;
}
.cart-table .shop_table tr .product-price {
  color: #888;
}
.cart-table .shop_table tr .product-subtotal {
  color: #cb0a1f;
  font-weight: bold;
}
.cart-table .shop_table tr .product-remove .remove i {
  color: #555;
  font-size: 14px;
}
.cart-table .shop_table tr .product-remove .remove:hover {
  background-color: transparent;
}
.cart-table .shop_table tr .product-remove .remove:hover i {
  color: #cb0a1f;
}
.cart-table .mixit-cart-buttons-wrapper:before, .cart-table .mixit-cart-buttons-wrapper:after {
  content: " ";
  display: table;
}
.cart-table .mixit-cart-buttons-wrapper:after {
  clear: both;
}
.cart-table .mixit-cart-buttons-wrapper .cart-table-btn {
  padding: 1rem 2.5rem;
  margin: 1.25rem 0;
  background-color: transparent;
  border: 2px solid #e1e1e1;
  color: #888;
  text-transform: uppercase;
}
.cart-table .mixit-cart-buttons-wrapper .cart-table-btn:hover {
  color: #fff;
  background-color: #cb0a1f;
  border-color: #cb0a1f;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.cart-table .mixit-cart-buttons-wrapper .mixit-cart-buttons-left {
  float: left;
}
.cart-table .mixit-cart-buttons-wrapper .mixit-cart-buttons-right {
  float: right;
}
.cart-table .mixit-cart-buttons-wrapper .mixit-cart-buttons-right button {
  margin-right: 1.25rem;
}

/*----------------------------------------------------
				CART-COLLATERALS
------------------------------------------------------*/
.cart-collaterals h2 {
  margin-bottom: 2.1875rem;
  font-size: 1.875rem;
  font-weight: 300;
  text-transform: capitalize;
}
.cart-collaterals .coupon h2 {
  padding-bottom: 0.3125rem;
  margin-bottom: 0;
}
.cart-collaterals .coupon .discount-description {
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: open sans;
}
.cart-collaterals .coupon input[type="text"] {
  padding: 0.125rem 0.5125rem;
  line-height: 1.875rem;
  max-width: 300px;
  width: 100%;
  display: block;
}
.cart-collaterals .coupon input[type="submit"] {
  padding: 1rem 2.5rem;
  margin: 1.25rem 0;
  background-color: transparent;
  border: 2px solid #e1e1e1;
  color: #888;
  text-transform: uppercase;
}
.cart-collaterals .coupon input[type="submit"]:hover {
  color: #fff;
  background-color: #cb0a1f;
  border-color: #cb0a1f;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.cart-collaterals .cart_totals h2 {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 1.25rem;
}
.cart-collaterals .cart_totals .wc-proceed-to-checkout .checkout-button {
  float: right;
  padding: 1rem 2.5rem;
  background-color: #cb0a1f;
}
.cart-collaterals .cart_totals .wc-proceed-to-checkout .checkout-button:hover {
  background-color: #2d2d2d;
  border-color: #2d2d2d;
}

/*:::::::::::::::::::::::::::::::::::::::::::
				EMPTY CART 
:::::::::::::::::::::::::::::::::::::::::::::*/
.cart-empty-wrapper i {
  font-size: 200px;
  line-height: 250px;
  color: #000;
}
.cart-empty-wrapper h2 {
  font-size: 30px;
  font-weight: 300;
  color: #555;
  text-transform: uppercase;
  font-family: Open Sans;
  position: relative;
  margin-bottom: 55px;
}
.cart-empty-wrapper h2:after {
  background: #ebebeb;
  width: 200px;
  height: 1px;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -24px;
  margin: 0 auto;
}
.cart-empty-wrapper .empty-para {
  margin-bottom: 50px;
  font-style: 14px;
  color: #888;
}
.cart-empty-wrapper .return-to-shop a {
  color: #fff;
  padding: 1rem 2.5rem;
  background-color: #cb0a1f;
  border-color: #cb0a1f;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: bold;
}
.cart-empty-wrapper .return-to-shop a:hover {
  background-color: #2d2d2d;
  border-color: #2d2d2d;
  color: #fff;
}

.wc_payment_methods {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

li.wc_payment_method img {
  display: none;
}

.mixit-checkout {
  padding-bottom: 3.125rem;
  padding-top: 6.25rem;
  /*:::::::::::::::::::::::::::::::::::::::::::::::::::::::
  					CUSTOMER BILLING DETAIL
  :::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
  /*:::::::::::::::::::::::::::::::::::::::::::::::::::::::
  						CUSTOMER BILLING DETAIL
  :::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
}
@media (max-width: 767px) {
  .mixit-checkout {
    padding-top: 1.25rem;
  }
}
.mixit-checkout .mixit-woocommerce-info {
  background: #fbfbfb;
  border-color: #cb0a1f #e1e1e1 #e1e1e1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border-style: solid;
  border-width: 3px 1px 1px;
  margin: 1.5625rem 0 !important;
  padding: 0.875rem 1.75rem 0.875rem 3.125rem !important;
  position: relative;
  width: auto;
  color: #888;
}
.mixit-checkout .mixit-woocommerce-info a {
  color: #555;
}
.mixit-checkout .mixit-woocommerce-info a:hover {
  color: #cb0a1f;
  text-decoration: none;
}
@media (max-width: 767px) {
  .mixit-checkout .customer-billing-details {
    margin-bottom: 50px;
  }
}
.mixit-checkout .customer-billing-details h3 {
  font-size: 1.875rem;
  font-weight: 300;
  color: #555;
  text-transform: capitalize;
  margin-top: 0;
}
@media (max-width: 767px) {
  .mixit-checkout .customer-billing-details h3 {
    font-size: 1.75rem;
  }
}
@media (max-width: 479px) {
  .mixit-checkout .customer-billing-details .form-row-first, .mixit-checkout .customer-billing-details .form-row-last {
    width: 100%;
  }
}
.mixit-checkout .customer-billing-details label {
  color: #555;
  display: block;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.8;
  margin: 0 0 0.3125rem;
}
.mixit-checkout .customer-billing-details input,
.mixit-checkout .customer-billing-details .select2-choice {
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  line-height: 1.875rem !important;
  margin-bottom: 0;
  padding: 0.5rem 0.3125rem;
}
.mixit-checkout .customer-billing-details .checkbox {
  font-weight: bold;
  text-transform: uppercase;
}
.mixit-checkout .checkout-order-block {
  border: 1px solid #e2e2e2;
  padding: 1.25rem 1.875rem;
  border-top: 0;
  background: #fbfbfb;
  border-radius: 3px;
  border-top: 3px solid #ce061d;
}
.mixit-checkout .checkout-order-block h3 {
  font-size: 1.875rem;
  font-weight: 300;
  color: #555;
}
.mixit-checkout .checkout-order-block .shop_table {
  border: 0 !important;
  margin-top: 1.25rem;
  text-transform: uppercase;
}
.mixit-checkout .checkout-order-block .shop_table tbody td {
  padding: 0.625rem;
  color: #888;
}
.mixit-checkout .checkout-order-block .mixit-checkout-payment {
  background: transparent !important;
}
.mixit-checkout .checkout-order-block .mixit-checkout-payment h2 {
  font-size: 1.875rem;
  font-weight: 300;
}
.mixit-checkout .checkout-order-block .mixit-checkout-payment ul.payment_methods {
  padding: 0 !important;
  border-bottom: 0 !important;
}
.mixit-checkout .checkout-order-block .mixit-checkout-payment ul.payment_methods label {
  text-transform: uppercase;
}
.mixit-checkout .checkout-order-block .mixit-checkout-payment ul.payment_methods label .about_paypal {
  font-size: 0.75rem;
  font-weight: normal;
  margin-left: 0.625rem;
  text-transform: none;
  color: #555;
}
.mixit-checkout .checkout-order-block .mixit-checkout-payment ul.payment_methods label .about_paypal:hover {
  color: #cb0a1f;
  text-decoration: none;
}
.mixit-checkout .checkout-order-block .mixit-checkout-payment ul.payment_methods .payment_box {
  background: transparent !important;
}
.mixit-checkout .checkout-order-block .mixit-checkout-payment ul.payment_methods .payment_box:before {
  border-color: transparent !important;
}
.mixit-checkout .checkout-order-block .mixit-checkout-payment .place-order .btn-order {
  padding: 1rem 2.5rem;
  background-color: #cb0a1f;
  border-color: #cb0a1f;
  text-transform: uppercase;
}
.mixit-checkout .checkout-order-block .mixit-checkout-payment .place-order .btn-order:hover {
  background-color: #2d2d2d;
  border-color: #2d2d2d;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

.ecster-selected .checkout-order-block {
  display: none;
}

.ecster-deselected .checkout-order-block {
  display: block;
}

.content-404 {
  padding: 20px 20px 100px;
}
.content-404 h2 {
  font-size: 150px !important;
  line-height: 1.75 !important;
}
@media (max-width: 767px) {
  .content-404 h2 {
    font-size: 120px;
    line-height: 1.5;
  }
}
.content-404 .subtitle-404 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 30px;
  color: #555;
  margin: 0 0 55px;
  position: relative;
}
.content-404 .subtitle-404:after {
  content: '';
  position: absolute;
  width: 245px;
  left: 0;
  right: 0;
  bottom: -25px;
  margin: 0 auto;
  height: 1px;
  background-color: #fff;
}
.content-404 .description-404 {
  text-transform: uppercase;
  color: #888;
  margin-bottom: 50px;
  display: block;
}
.content-404 .btn-404 {
  padding: 1rem 2.5rem;
  color: #888;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  border-radius: 0.25rem;
  display: inline-block;
}
.content-404 .btn-404:hover {
  background-color: #cb0a1f;
  border-color: #cb0a1f;
  color: #fff;
  text-decoration: none;
}

.error404 .page-banner-image {
  height: 78vh;
  background-size: cover;
  height: 100vh;
}
.error404 .page-banner-image img {
  display: none !important;
}
.error404 .page-banner-image h2.banner-centered-title {
  font-size: 5rem !important;
}
@media (max-width: 767px) {
  .error404 .page-banner-image {
    height: 100vh;
  }
  .error404 .page-banner-image h2.banner-centered-title {
    font-size: 2.5rem !important;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .error404 .page-banner-image {
    height: 1024px;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  .error404 .page-banner-image {
    height: 768px;
  }
}
@media screen and (device-aspect-ratio: 40 / 71) {
  .error404 .page-banner-image {
    height: 500px;
  }
}
@media screen and (device-width: 320px) and (device-aspect-ratio: 2 / 3) and (orientation: portrait) {
  .error404 .page-banner-image {
    height: 480px;
  }
}

.post-page {
  padding-bottom: 3.125rem;
  padding-top: 6.25rem;
  background: #f5f5f5;
  /*::::::::::::::::::::::::::::::::::::::::::
  			ASIDE
  :::::::::::::::::::::::::::::::::::::::::::*/
}
@media (max-width: 991px) {
  .post-page {
    padding-top: 10px;
  }
}
.post-page h3 {
  font-size: 1.25rem;
  margin: 0 0 1.9375rem;
  position: relative;
}
.post-page h3:after {
  content: '';
  position: absolute;
  width: 1.875rem;
  height: 1px;
  background: #555;
  left: 0;
  bottom: -10px;
}
.post-page .mixit-single-post-wrapper .post-image {
  position: relative;
}
.post-page .mixit-single-post-wrapper .post-image .icon {
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;
  background: #cb0a1f;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  font-size: 1rem;
  height: 2.875rem;
  line-height: 2.875rem;
  text-align: center;
  width: 2.875rem;
}
.post-page .mixit-single-post-wrapper .main-content-holder {
  background: #fff;
  padding: 1.875rem;
  margin-bottom: 1.875rem;
}
.post-page .mixit-single-post-wrapper .main-content-holder header.entry-header h1 {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 0.3125rem;
  text-transform: uppercase;
  color: #555;
}
.post-page .mixit-single-post-wrapper .main-content-holder .entry-meta {
  font-size: 1.25rem;
  line-height: 1.875;
  font-family: "Crimson Text",serif;
  color: #555;
  font-style: italic;
}
.post-page .mixit-single-post-wrapper .main-content-holder .entry-meta a {
  color: #555;
}
.post-page .mixit-single-post-wrapper .main-content-holder .entry-meta a:hover {
  text-decoration: none;
}
.post-page .mixit-single-post-wrapper .main-content-holder .entry-meta .comment-counter {
  float: right;
  color: #cb0a1f;
}
.post-page .mixit-single-post-wrapper .main-content-holder .entry-content {
  font-size: 1rem;
  line-height: 1.875;
  color: #888;
  word-wrap: break-word;
}
.post-page .mixit-single-post-wrapper .main-content-holder .content-links {
  margin-top: 15px;
}
.post-page .mixit-single-post-wrapper .main-content-holder .content-links span {
  display: block;
  margin-bottom: 10px;
}
.post-page .mixit-single-post-wrapper .main-content-holder .content-links span a {
  color: #675757;
  font-style: italic;
  display: inline-block;
}
.post-page .mixit-single-post-wrapper .comments-holder {
  background: #fff;
  padding: 1.875rem;
  margin-bottom: 1.875rem;
}
.post-page .mixit-single-post-wrapper .comments-holder:before, .post-page .mixit-single-post-wrapper .comments-holder:after {
  content: " ";
  display: table;
}
.post-page .mixit-single-post-wrapper .comments-holder:after {
  clear: both;
}
.post-page .mixit-single-post-wrapper .comments-holder .comments-title {
  font-weight: bold;
}
.post-page .mixit-single-post-wrapper .comments-holder ol.comment-list {
  margin: 0;
  padding: 0;
}
.post-page .mixit-single-post-wrapper .comments-holder ol.comment-list:before, .post-page .mixit-single-post-wrapper .comments-holder ol.comment-list:after {
  content: " ";
  display: table;
}
.post-page .mixit-single-post-wrapper .comments-holder ol.comment-list:after {
  clear: both;
}
.post-page .mixit-single-post-wrapper .comments-holder ol.comment-list li {
  overflow: hidden;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .post-page .mixit-single-post-wrapper .comments-holder ol.comment-list li .comment_container {
    text-align: center;
  }
}
.post-page .mixit-single-post-wrapper .comments-holder ol.comment-list li .comment_container .avatar {
  height: 4.375rem;
  margin-right: 1.875rem;
  margin-bottom: 10px;
  width: 4.375rem;
}
.post-page .mixit-single-post-wrapper .comments-holder ol.comment-list li .comment_container .comment-text {
  border: 1px solid #e1e1e1;
  float: right;
  padding: 1.875rem;
  position: relative;
  width: 80%;
  color: #888;
}
@media (max-width: 991px) {
  .post-page .mixit-single-post-wrapper .comments-holder ol.comment-list li .comment_container .comment-text {
    width: 100%;
    float: none;
  }
}
.post-page .mixit-single-post-wrapper .comments-holder ol.comment-list li .comment_container .comment-text a.url {
  text-transform: uppercase;
  font-weight: bold;
  color: #555;
}
.post-page .mixit-single-post-wrapper .comments-holder ol.comment-list li .comment_container .comment-text a.url:hover {
  color: #cb0a1f;
  text-decoration: none;
}
.post-page .mixit-single-post-wrapper .comments-holder ol.comment-list li .comment_container .comment-text .description {
  float: left;
  font-family: "Crimson Text",serif;
  font-size: 1.25rem;
  font-style: italic;
  line-height: normal;
  width: 100%;
}
.post-page .mixit-single-post-wrapper .comments-holder ol.comment-list li .comment_container .comment-text .reply a {
  text-transform: uppercase;
  color: #555;
  font-weight: bold;
}
.post-page .mixit-single-post-wrapper .comments-holder ol.comment-list li .comment_container .comment-text .reply a:hover {
  color: #cb0a1f;
  text-decoration: none;
}
.post-page .mixit-single-post-wrapper .comments-holder ol.comment-list li .comment_container .comment-text .reply .comment-reply-link {
  float: right;
}
.post-page .mixit-single-post-wrapper .comment-respond {
  background: #fff;
  padding: 1.875rem;
  margin-bottom: 1.875rem;
}
.post-page .mixit-single-post-wrapper .comment-respond .form-submit input[type="submit"] {
  padding: 1rem 2.5rem;
  margin: 0 1rem 1rem 0;
  background-color: #cb0a1f;
  border-color: #cb0a1f;
  text-transform: uppercase;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  -ms-text-shadow: none;
  text-shadow: none;
  color: #fff;
  font-weight: bold;
  font-size: 0.875rem;
}
.post-page .mixit-single-post-wrapper .comment-respond .form-submit input[type="submit"]:hover {
  background-color: #2d2d2d;
  border-color: #2d2d2d;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  -ms-text-shadow: none;
  text-shadow: none;
  color: #fff;
}
.post-page #secondary .widget {
  background: #fff;
  margin-bottom: 1.875rem;
  padding: 0.9375rem 1.875rem;
}
.post-page #secondary .widget h2 {
  font-size: 1.5rem;
  line-height: 1.87rem;
  font-weight: bold;
  margin-bottom: 0.625rem;
  text-transform: uppercase;
  border-bottom: 3px solid #e1e1e1;
  padding-bottom: 1.3125rem;
  display: inline-block;
  color: #555;
}
.post-page #secondary .widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
.post-page #secondary .widget ul li {
  padding: 0.875rem 0;
  border-bottom: 1px solid #e1e1e1;
}
.post-page #secondary .widget ul li:last-child {
  border-bottom: 0;
}
.post-page #secondary .widget ul li a {
  color: #555;
}
.post-page #secondary .widget ul li a:hover {
  color: #cb0a1f;
  text-decoration: none;
}

.mixit-my-account-page {
  background: #fff;
}
.mixit-my-account-page .my-account h2 {
  color: #555;
  font-size: 1.75rem;
  margin: 0 0 0.5rem;
}
.mixit-my-account-page .my-account form.login {
  padding: 1.25rem;
}
.mixit-my-account-page .my-account form.login label {
  color: #555;
  display: block;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.8;
  margin: 0.625rem;
}
.mixit-my-account-page .my-account form.login .woocommerce-Input.woocommerce-Input--text.input-text {
  height: 2.6875rem;
}
.mixit-my-account-page .my-account form.login input[type="submit"] {
  border-color: #e1e1e1;
  color: #888;
  background: transparent;
  border: 2px solid #e1e1e1;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 2.5rem;
  margin-right: 1rem;
}
.mixit-my-account-page .my-account form.login input[type="submit"]:hover {
  background: #cb0a1f;
  border-color: #cb0a1f;
  color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.mixit-my-account-page .my-account form.login label.inline {
  display: inline;
  color: #555;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.8;
  margin: 0.625rem;
}
@media (max-width: 479px) {
  .mixit-my-account-page .my-account form.login label.inline {
    display: block;
  }
}
.mixit-my-account-page .my-account form.login .woocommerce-LostPassword.lost_password {
  margin-top: 0.9375rem;
}
.mixit-my-account-page .my-account form.login .woocommerce-LostPassword.lost_password a {
  color: #555;
  font-size: 16px;
}
.mixit-my-account-page .my-account form.login .woocommerce-LostPassword.lost_password a:hover {
  color: #cb0a1f;
  text-decoration: none;
}

.mixit-my-account-page .my-account-sidebar-wrapper .searchform {
  position: relative;
}
.mixit-my-account-page .my-account-sidebar-wrapper .searchform input[type="text"] {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-weight: normal;
  border: none;
  height: 3.375rem;
}
.mixit-my-account-page .my-account-sidebar-wrapper .searchform #searchsubmit {
  color: #white;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  -ms-text-shadow: none;
  text-shadow: none;
  width: 64px;
  float: right;
  background: transparent;
  position: absolute;
  display: block;
  position: absolute;
  right: 0.9375rem;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #888;
}
.mixit-my-account-page .my-account-sidebar-wrapper .searchform #searchsubmit:hover {
  color: #cb0a1f;
}
.mixit-my-account-page .my-account {
  color: #888;
}
.mixit-my-account-page .my-account a {
  color: #555;
}
.mixit-my-account-page .my-account a:hover, .mixit-my-account-page .my-account a:focus {
  color: #cb0a1f;
  text-decoration: none;
}
.mixit-my-account-page .my-account .mixit-account-nav {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .mixit-my-account-page .my-account .mixit-account-nav ul li {
    padding-right: 0;
  }
}
@media (max-width: 500px) {
  .mixit-my-account-page .my-account .mixit-account-nav ul li {
    width: 100%;
    margin-bottom: 25px;
  }
}
.mixit-my-account-page .my-account .mixit-account-nav ul li a {
  border: 1px solid;
  padding: 0.4375rem 0.5rem;
}
@media (max-width: 991px) {
  .mixit-my-account-page .my-account .mixit-account-nav ul li a {
    padding: 0.4375rem 0.2rem;
    font-size: 0.612rem;
    margin: 0;
  }
}
@media (max-width: 500px) {
  .mixit-my-account-page .my-account .mixit-account-nav ul li a {
    padding: 12px;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}
.mixit-my-account-page .my-account .mixit-account-nav ul li a:hover {
  text-decoration: none;
  border-color: #cb0a1f;
  color: #888;
}
.mixit-my-account-page .my-account .mixit-account-nav ul li a:focus {
  text-decoration: none;
  color: #888;
  border-color: #888;
}
.mixit-my-account-page .my-account .mixit-account-nav ul .is-active a {
  background: #cb0a1f;
  border-color: #cb0a1f;
  color: #fff;
}
.mixit-my-account-page .my-account .mixit-account-nav ul .is-active a:hover {
  color: #fff;
}
.mixit-my-account-page .my-account .woocommerce-MyAccount-content label {
  color: #555;
  display: block;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.8;
  margin: 0 0 0.3125rem;
}
.mixit-my-account-page .my-account .woocommerce-MyAccount-content input {
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  line-height: 1.875rem !important;
  margin-bottom: 0;
  padding: 0.5rem 0.3125rem;
}
.mixit-my-account-page .my-account .woocommerce-MyAccount-content .woocommerce-Button.button {
  background-color: #cb0a1f;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  color: #fff;
}
.mixit-my-account-page .my-account .woocommerce-MyAccount-content .woocommerce-Button.button:hover {
  background-color: #2d2d2d;
  border-color: #2d2d2d;
}
.mixit-my-account-page .my-account .woocommerce-MyAccount-content fieldset legend {
  padding: 20px 0;
}
.mixit-my-account-page .my-account .woocommerce-MyAccount-content .woocommerce-Message {
  border-color: #cb0a1f;
}
.mixit-my-account-page .my-account table.my_account_orders {
  font-size: 14px;
}
.mixit-my-account-page .my-account table.my_account_orders th {
  padding: 0.625rem !important;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}
.mixit-my-account-page .my-account table.my_account_orders td {
  padding: 0.625rem;
}
.mixit-my-account-page .my-account table.my_account_orders td.order-actions a {
  background-color: transparent;
  border: 2px solid #e1e1e1;
  color: #888;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 2.5rem;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.mixit-my-account-page .my-account table.my_account_orders td.order-actions a:hover {
  background-color: #cb0a1f;
  border-color: #cb0a1f;
  color: #fff;
}

.product-single-wrapper {
  padding: 3.25rem 0 0;
}
@media (max-width: 991px) {
  .product-single-wrapper {
    padding-top: 0;
  }
}
.product-single-wrapper .product-single-holder {
  padding: 0 15px;
}
.product-single-wrapper .product-single-holder .badge.onsale {
  background-color: #609ebb;
  border-radius: 0;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 100%;
  margin: 0;
  padding: 1em;
  position: absolute;
  text-transform: uppercase;
  top: 0.9375rem;
  z-index: 9;
  right: 0;
  left: inherit;
}
.product-single-wrapper .product-single-holder .images .no-caroufredsel .product-thumbnail-paginattion {
  display: none;
}
.product-single-wrapper .product-single-holder .images div.thumbnails {
  position: relative;
  margin-top: 25px;
  			    	/*div.product-img-thumb.item-visible:nth-child(4){
  			    		margin-right: 0;
  			    	}
  
  			    	div.product-img-thumb.item-visible:first-child{
  			    		margin-left: 0;
  			    	}*/
}
.product-single-wrapper .product-single-holder .images div.thumbnails div.product-img-thumb {
  display: block;
  width: 110px;
  float: left;
  margin-right: 10px;
}
.product-single-wrapper .product-single-holder .images div.thumbnails .active-img > img {
  border: 2px solid #cb0a1f;
}
.product-single-wrapper .product-single-holder .images div.thumbnails .last {
  margin-right: 0;
}
.product-single-wrapper .product-single-holder .images div.thumbnails .product-thumbnail-paginattion i {
  font-size: 20px;
  cursor: pointer;
}
.product-single-wrapper .product-single-holder .images div.thumbnails .product-thumbnail-paginattion i:hover {
  color: #cb0a1f;
}
.product-single-wrapper .product-single-holder .images div.thumbnails .product-thumbnail-paginattion > span {
  position: absolute;
}
.product-single-wrapper .product-single-holder .images div.thumbnails .product-thumbnail-paginattion #product-thumb-next {
  left: 10px;
  top: 50%;
}
.product-single-wrapper .product-single-holder .images div.thumbnails .product-thumbnail-paginattion #product-thumb-prev {
  right: 10px;
  top: 50%;
}
.product-single-wrapper .product-single-holder .images .easyzoom-flyout img {
  max-width: initial;
  width: initial;
}
.product-single-wrapper .product-single-holder .images .easyzoom {
  width: 100%;
  padding-right: 10px;
}
@media (max-width: 767px) {
  .product-single-wrapper .product-single-holder .images .easyzoom {
    padding-right: 0;
  }
}
.product-single-wrapper .product-single-holder .entry-summary {
  font-size: 1rem;
  line-height: 1.875;
  color: #888;
  margin: 0;
}
.product-single-wrapper .product-single-holder .entry-summary h1 {
  font-size: 1.875rem;
  font-weight: bold;
  line-height: normal;
  margin: 0 0 0.625rem;
  text-transform: uppercase;
  color: #555;
}
.product-single-wrapper .product-single-holder .entry-summary .price .amount {
  color: #cb0a1f;
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 0;
}
.product-single-wrapper .product-single-holder .entry-summary .item-description {
  padding-right: 50px;
}
.product-single-wrapper .product-single-holder .entry-summary .quantity {
  margin-right: 1.875rem;
  padding-right: 1.25rem;
  margin-bottom: 15px;
}
.product-single-wrapper .product-single-holder .entry-summary .quantity .qty {
  font-size: 0.875rem;
  font-weight: bold;
  height: 3rem;
  line-height: 3rem;
  padding: 0 0.25rem 0 0;
  text-align: center;
  width: 4.125rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  color: #888;
}
@media (max-width: 479px) {
  .product-single-wrapper .product-single-holder .entry-summary .quantity {
    margin-right: 0 !important;
  }
}
.product-single-wrapper .product-single-holder .entry-summary .single_add_to_cart_button {
  padding: 1rem 2.5rem;
  background-color: #cb0a1f !important;
  border-color: #cb0a1f;
  text-transform: uppercase;
}
.product-single-wrapper .product-single-holder .entry-summary .single_add_to_cart_button:hover {
  background-color: #2d2d2d !important;
}
@media (max-width: 479px) {
  .product-single-wrapper .product-single-holder .entry-summary .single_add_to_cart_button {
    padding: 1rem 1.75rem;
  }
}
.product-single-wrapper .product-single-holder .entry-summary .product_meta {
  font-size: 14px;
  font-weight: 400;
}
.product-single-wrapper .product-single-holder .entry-summary .product_meta span {
  font-weight: 600;
  line-height: 0.5;
}
.product-single-wrapper .product-single-holder .entry-summary .product_meta span > * {
  font-weight: 400;
}
.product-single-wrapper .product-single-holder .entry-summary .product_meta .posted_in {
  display: block;
  font-weight: 600;
  margin: 0 0 0.4375rem;
}
.product-single-wrapper .product-single-holder .entry-summary .product_meta .posted_in a {
  color: #888;
  text-transform: initial;
}
.product-single-wrapper .product-single-holder .entry-summary .product_meta .posted_in a:hover {
  color: #cb0a1f;
  text-decoration: none;
}
.product-single-wrapper .product-single-holder .entry-summary .product_meta .tagged_as {
  margin-bottom: 0.8rem;
  display: block;
  color: #cb0a1f;
}
.product-single-wrapper .product-single-holder .entry-summary .product_meta .tagged_as > span {
  color: #888;
}
.product-single-wrapper .product-single-holder .entry-summary .product_meta .tagged_as a {
  color: #cb0a1f;
}
.product-single-wrapper .product-single-holder .entry-summary .product_meta .tagged_as a:hover {
  color: #555;
  text-decoration: none;
}
.product-single-wrapper .product-single-holder .entry-summary form.cart .group_table tr td.label {
  vertical-align: middle;
}
.product-single-wrapper .product-single-holder .entry-summary form.cart .group_table tr td.label a {
  color: #555;
  font-size: 1rem;
  font-weight: bold;
}
.product-single-wrapper .product-single-holder .entry-summary form.cart .group_table tr td.label a:hover {
  color: #cb0a1f;
  text-decoration: none;
}
.product-single-wrapper .product-single-holder .entry-summary form.cart .group_table tr td.price .woocommerce-Price-amount {
  font-size: 1.125rem !important;
}
.product-single-wrapper .product-single-holder .entry-summary .wpallshare-theme4 ul {
  margin: 0;
}
.product-single-wrapper .product-single-holder .entry-summary .wpallshare-theme4 ul li a {
  color: #675f5f !important;
  background-color: transparent;
  display: inline-block;
  float: none;
  line-height: 1;
  font-size: 12px;
  margin: 0 0.3125rem !important;
  overflow: hidden;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #dcd6d6;
}
.product-single-wrapper .product-single-holder .entry-summary .wpallshare-theme4 ul li:hover a {
  color: #cb0a1f !important;
}
.product-single-wrapper .product-single-holder .entry-summary .wpallshare-theme4 ul li .tooltip {
  display: none;
}
.product-single-wrapper .product-single-holder .entry-summary .variations_form.cart .variations {
  width: 360px;
}
@media (max-width: 479px) {
  .product-single-wrapper .product-single-holder .entry-summary .variations_form.cart .variations {
    width: 100%;
  }
}
.product-single-wrapper .product-single-holder .entry-summary .variations_form.cart .variations .label {
  color: #666;
}
.product-single-wrapper .product-single-holder .entry-summary .variations_form.cart .variations .value .select {
  min-width: inherit !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.product-single-wrapper .product-single-holder .wc-tabs-wrapper {
  border-bottom: 3px solid transparent;
  display: inline-block;
  width: 66.6667%;
  margin: 0 auto 4.375rem;
  display: block;
  color: #888;
  font-size: 16px;
  line-height: 1.875;
}
@media (max-width: 991px) {
  .product-single-wrapper .product-single-holder .wc-tabs-wrapper {
    width: 100%;
    margin-bottom: 0;
  }
}
.product-single-wrapper .product-single-holder .wc-tabs-wrapper .woocommerce-Tabs-panel {
  text-align: left;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  border: 0;
}
.product-single-wrapper .product-single-holder .wc-tabs-wrapper ul {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 2.5rem;
  padding: 0.625rem 0;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.product-single-wrapper .product-single-holder .wc-tabs-wrapper ul.tabs {
  padding-left: 0 !important;
}
.product-single-wrapper .product-single-holder .wc-tabs-wrapper ul:before {
  display: none !important;
}
.product-single-wrapper .product-single-holder .wc-tabs-wrapper ul li {
  border: 0 !important;
  background-color: transparent !important;
}
.product-single-wrapper .product-single-holder .wc-tabs-wrapper ul li:before {
  display: none !important;
}
.product-single-wrapper .product-single-holder .wc-tabs-wrapper ul li:after {
  display: none !important;
}
.product-single-wrapper .product-single-holder .wc-tabs-wrapper ul li:nth-child(1) {
  padding-left: 6px !important;
}
.product-single-wrapper .product-single-holder .wc-tabs-wrapper ul li a {
  color: #555;
  border-bottom: 3px solid transparent;
}
.product-single-wrapper .product-single-holder .wc-tabs-wrapper ul li a:hover {
  border-bottom: 3px solid #cb0a1f;
  color: #cb0a1f !important;
}
.product-single-wrapper .product-single-holder .wc-tabs-wrapper ul .active a {
  border-bottom: 3px solid #cb0a1f;
  color: #555 !important;
}
.product-single-wrapper .product-single-holder .wc-tabs-wrapper ul .active a:hover {
  border-bottom: 3px solid #cb0a1f;
  color: #cb0a1f !important;
}
.product-single-wrapper .product-single-holder .wc-tabs-wrapper .woocommerce-Tabs-panel h2 {
  font-size: 1.25rem;
  margin: 0 0 0.9375rem;
  color: #555;
  position: relative;
  padding-bottom: 10px;
}
.product-single-wrapper .product-single-holder .wc-tabs-wrapper .woocommerce-Tabs-panel h2:after {
  position: absolute;
  content: '';
  width: 1.875rem;
  background-color: #555;
  bottom: 0;
  left: 0;
  height: 1px;
}
.product-single-wrapper .product-single-holder .wc-tabs-wrapper .woocommerce-Tabs-panel .comment-respond .comment-form .form-submit .submit {
  padding: 1rem 2.5rem !important;
  background-color: #cb0a1f !important;
  color: #fff !important;
}
.product-single-wrapper .product-single-holder .wc-tabs-wrapper .woocommerce-Tabs-panel .comment-respond .comment-form .form-submit .submit:hover {
  background-color: #2d2d2d !important;
}
.product-single-wrapper .product-single-holder .wc-tabs-wrapper .woocommerce-Tabs-panel .comment-respond .comment-form .review-input {
  width: 49%;
  float: left;
}
.product-single-wrapper .product-single-holder .wc-tabs-wrapper .woocommerce-Tabs-panel .comment-respond .comment-form .review-input input {
  width: 100%;
  padding: 0.625rem;
}
.product-single-wrapper .product-single-holder .wc-tabs-wrapper .woocommerce-Tabs-panel .comment-respond .comment-form textarea[rows] {
  padding: 0.625rem;
  height: auto;
}
.product-single-wrapper .product-single-holder .wc-tabs-wrapper .woocommerce-Tabs-panel .comment-respond .comment-form #comment {
  height: inherit;
}
.product-single-wrapper .product-single-holder .wc-tabs-wrapper .woocommerce-Tabs-panel .comment-respond .comment-form .review-input.comment-form-author {
  margin-right: 2% !important;
}
.product-single-wrapper .product-single-holder .stock,
.product-single-wrapper .product-single-holder .stock.out-of-stock {
  color: #358974;
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: uppercase;
}
.product-single-wrapper .product-single-holder .stock i,
.product-single-wrapper .product-single-holder .stock.out-of-stock i {
  padding-right: 5px;
}
.product-single-wrapper .product-single-holder .variations select,
.product-single-wrapper .product-single-holder .variations label {
  line-height: 3rem !important;
  height: 3rem;
}
.product-single-wrapper .related-products {
  background: #f5f5f5;
  padding: 3.4375rem 0 3.4375rem;
  text-align: center;
  font-size: 1rem;
  color: #888;
}
.product-single-wrapper .related-products h2 {
  border-bottom: 3px solid #e1e1e1;
  display: inline-block;
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 1.9375rem;
  padding-bottom: 1.3125rem;
  text-transform: uppercase;
  color: #555;
}
.product-single-wrapper .related-products .related-product-description {
  font-size: 1.1rem;
  margin: 0 auto !important;
  width: 50%;
}
@media (max-width: 991px) {
  .product-single-wrapper .related-products .related-product-description {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.product-single-wrapper .related-products .products {
  margin-top: 2.5rem;
}
.product-single-wrapper .related-products .products li {
  width: 20% !important;
}
@media (max-width: 991px) {
  .product-single-wrapper .related-products .products li {
    width: 50% !important;
  }
}
@media (max-width: 479px) {
  .product-single-wrapper .related-products .products li {
    width: 100% !important;
  }
}
.product-single-wrapper .related-products .products li img {
  width: 100%;
}

.ajax_add_to_cart.added:after {
  display: none;
}

.ajax_add_to_cart.loading {
  opacity: 0.85 !important;
}
.ajax_add_to_cart.loading .fa-shopping-cart {
  visibility: hidden;
}
.ajax_add_to_cart.loading:after {
  top: 0.118em !important;
  right: 1.1em !important;
}

.woocommerce div.product .summary p.stock {
  font-size: 0.72em !important;
  margin-top: -20px !important;
}

.wpcf7 .margin-bottom-30 {
  margin-bottom: 10px;
}
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea {
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  line-height: 1.875rem !important;
  margin-bottom: 0;
  padding: 0.5rem 0.3125rem;
  width: 100%;
}
.wpcf7 input[type="submit"] {
  padding: 1rem 2.5rem;
  background-color: #cb0a1f;
  border-color: #cb0a1f;
  text-transform: uppercase;
  box-shadow: none;
  color: #fff;
  text-shadow: none;
  font-size: 14px;
  font-weight: 700;
}
.wpcf7 input[type="submit"]:hover {
  background-color: #2d2d2d;
  border-color: #2d2d2d;
}

.blog .post-page .mixit-single-post-wrapper article {
  padding: 1.875rem 1.875rem 0;
}
.blog .post-page .mixit-single-post-wrapper article .row {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 1.875rem;
}
.blog .post-page .mixit-single-post-wrapper article:last-of-type .row {
  border-bottom: 0;
  padding-bottom: 0;
}
.blog .post-page .mixit-single-post-wrapper article a {
  color: #333;
  text-decoration: none;
}
.blog .post-page .mixit-single-post-wrapper article a:visited {
  color: #333;
}
.blog .post-page .mixit-single-post-wrapper article a:hover, .blog .post-page .mixit-single-post-wrapper article a:focus {
  color: #cb0a1f;
}
.blog .post-page .mixit-single-post-wrapper article .post-image {
  margin-bottom: 1.875rem;
  height: 210px;
  margin-left: -15px;
}
@media (max-width: 767px) {
  .blog .post-page .mixit-single-post-wrapper article .post-image {
    padding: 0;
    height: 120px;
  }
}
.blog .post-page .mixit-single-post-wrapper article .entry-content {
  margin-top: 0;
}
.blog .pagination {
  float: none;
  width: 100%;
  text-align: center;
}
.blog .nav-links .page-numbers {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  padding: 5px 10px;
  font-weight: 700;
  color: #555;
  border: 1px solid #ccc;
  text-decoration: none;
}
.blog .nav-links .page-numbers.current, .blog .nav-links .page-numbers:hover {
  color: #fff;
  background: #555;
  border-color: #555;
}

.post-page .mixit-single-post-wrapper .main-content-holder {
  background: transparent;
  padding: 0;
}
.post-page .mixit-single-post-wrapper .main-content-holder header.entry-header {
  font-weight: 700;
}
.post-page .mixit-single-post-wrapper .main-content-holder header.entry-header h2.entry-title {
  font-weight: 700;
  margin-top: 0;
}
.post-page .mixit-single-post-wrapper .main-content-holder header.entry-header .entry-meta {
  color: #888;
  font-size: 0.9rem;
  font-family: inherit;
  font-style: normal;
}
.post-page .mixit-single-post-wrapper .main-content-holder header.entry-header .entry-meta a {
  color: #888;
}
.post-page .mixit-single-post-wrapper .main-content-holder .entry-content {
  font-size: 0.875rem;
  color: #333;
  text-align: justify;
}
.post-page .mixit-single-post-wrapper .main-content-holder .read-blog {
  font-weight: 700;
}
.post-page .mixit-single-post-wrapper .post-image {
  margin-bottom: 1.875rem;
}
@media (max-width: 767px) {
  .post-page .mixit-single-post-wrapper .post-image {
    padding: 0 0 10px;
  }
}
.post-page #secondary .widget ul {
  font-size: 0.9rem;
}
.post-page #secondary .widget ul li {
  padding: 10px 0;
}

span.tags-links a {
  color: #cb0a1f !important;
}

.brand article.page {
  margin-bottom: 0;
}

.brand-title {
  max-width: 700px;
  margin: 40px auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
}

.brands-wrapper {
  letter-spacing: -0.36em;
}
.brands-wrapper ul.brands {
  -webkit-transition: all 0.35s linear;
  -moz-transition: all 0.35s linear;
  -o-transition: all 0.35s linear;
  transition: all 0.35s linear;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 16.66%;
  vertical-align: top;
  letter-spacing: normal;
  margin-bottom: 20px;
}
.brands-wrapper ul.brands li {
  line-height: 1.7;
}
.brands-wrapper ul.brands li.head {
  font-size: 150%;
  margin-bottom: 5px;
  line-height: 1.2;
}
.brands-wrapper ul.brands li a {
  color: #595959;
  text-decoration: none;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 0.35px;
}
.brands-wrapper ul.brands li a:hover, .brands-wrapper ul.brands li a:focus, .brands-wrapper ul.brands li a:active {
  color: #0d0d0d;
}
@media (max-width: 1199px) {
  .brands-wrapper ul.brands {
    width: 20%;
  }
}
@media (max-width: 991px) {
  .brands-wrapper ul.brands {
    width: 25%;
  }
}
@media (max-width: 767px) {
  .brands-wrapper ul.brands {
    width: 50%;
  }
}

/*# sourceMappingURL=main.css.map */
