.mixit-checkout{
	padding-bottom: 3.125rem;
	padding-top: 6.25rem;
	@include media(xs){
		padding-top: 1.25rem;
	}
	.mixit-woocommerce-info{
		background: #fbfbfb;
		border-color: $primary #e1e1e1 #e1e1e1;
		@include border-radius(4px);
		border-style: solid;
		border-width: 3px 1px 1px;
		margin: 1.5625rem 0 !important;
		padding: 0.875rem 1.75rem 0.875rem 3.125rem !important;
		position: relative;
		width: auto;
		color:#888;

		a{
			color: $link;

			&:hover{
				color:$primary;
				text-decoration: none;
			}
		}

	}//.mixit-woocommerce-info

	/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::
						CUSTOMER BILLING DETAIL
	:::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

	.customer-billing-details{
		@include media(xs){
			margin-bottom: 50px;
		}
		h3{
			font-size: 1.875rem;
			font-weight: 300;
			color: $link;
			text-transform: capitalize;
			margin-top:0;
			@include media(xs){
				font-size: 1.75rem;
			}
		}
		.form-row-first,.form-row-last{
			@include media(mb){
				width: 100%;
			}
		}
		label{
			color: $link;
			display: block;
			font-size: 0.875rem;
			font-weight: normal;
			line-height: 1.8;
			margin: 0 0 0.3125rem;
		}
		input,
		.select2-choice{
			border: 1px solid #e1e1e1;
			@include border-radius(2px);
			line-height: 1.875rem !important;
			margin-bottom: 0;
			padding: 0.5rem 0.3125rem;
		}

		.checkbox{
			font-weight: bold;
			text-transform: uppercase;

		}

		// textarea .input-text{height:5em;}

	}//.customer-billing-details


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::
						CUSTOMER BILLING DETAIL
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.checkout-order-block{
		border: 1px solid #e2e2e2;
		padding: 1.25rem 1.875rem;
		border-top: 0;
		background: #fbfbfb;
		border-radius: 3px;
		border-top: 3px solid #ce061d;
		h3{
			font-size:1.875rem;
			font-weight:300;
			color:$link;
		}
		.shop_table{
			border:0 !important;
			margin-top: 1.25rem;
			text-transform:uppercase;

			tbody{
				td{
					padding:0.625rem;
					color: #888;
				}
			}
		}//.shop_table

		.mixit-checkout-payment{
			background:transparent !important;
			h2{
				font-size: 1.875rem;
				font-weight: 300;
			}
			ul.payment_methods{
				padding:0 !important;
				border-bottom:0 !important;
				label{
					text-transform: uppercase;
					.about_paypal{
						font-size: 0.75rem;
						font-weight: normal;
						margin-left: 0.625rem;
						text-transform: none;
						color: $link;

						&:hover{
							color: $primary;
							text-decoration:none;
						}
					}//.about_paypal
				}//label
				.payment_box{
					background:transparent !important;

					&:before{
						border-color:transparent !important;
					}
				}//.payment_box
			}//ul.payment_methods
			.place-order{
				.btn-order{
					padding:1rem 2.5rem;
					background-color:$primary;
					border-color:$primary;
					text-transform: uppercase;

					&:hover{
						background-color:#2d2d2d;
						border-color:#2d2d2d;
						@include box-shadow(none);
					}
				}
			}//.place-order
		}//.mixit-checkout-payment
	}	

}//.mixit-checkout


.ecster-selected{
	.checkout-order-block{
		display: none;
	}
}

.ecster-deselected{
	.checkout-order-block{
		display: block;
	}
}