#footer{
	padding: 3.125rem 0 1.25rem;
	background-color:lighten($secondary, 10%);
	@include clearfix();
	//text-transform: uppercase;
	font-size: 0.8125rem;
	color:#585e64;

	     a{
	     	color:#585e64;

	     	&:hover{
	     		text-decoration: none;
	     		color: $white;
	     	}
	     }
	     @include media(sm){
		     .column{
		      	margin-bottom:1.875rem;
		     }
	     }

	     .footer-top{
	     	@include clearfix();
		.footer-logo{
			margin-top: 0;
			display: block;

			@include media(sm){
				margin-bottom:1.875rem;
			}
		}

		strong.title{
			color: $white;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 0.875rem;
			margin-bottom: 0.875rem;
			display: block;

			@include media(sm){
				font-size:1.125rem;
			}

		}

		ul{
			padding:0;
			margin:0;
			list-style:none;

			li{
				padding:0;

				a{
					color: #848484;
					@include transition(color 0.3s);
					&:hover{
                        color:$white;
                        text-decoration: none;
					}
				}
			}
		}

		.contact-block{
			color:$white;
			a{
				color:$white;
			}
			.contact-item{
				float: left;
				//margin: 1.25rem 0 0.4375rem;
				width: 100%;

				.contact-item-icon{
					padding-right:1.25rem;
					display: table-cell;
					vertical-align: middle;

				 	i{
						border: 1px solid;
						height: 2.75rem;
						line-height: 2.625rem;
						text-align: center;
						width: 2.75rem;
						@include border-radius(50%);
					}
				}

				.contact-item-content{
					display: table-cell;
					vertical-align: middle;
				}
			}
		}
	}
		.footer-bottom{
			border-top: 1px solid #282b2e;
			font-size: 0.6875rem;
			letter-spacing: 1px;
			margin-top:0.875rem;
			padding: 0.875rem 0 0;
			text-align: center;
			//text-transform: uppercase;
		}
}