/* ============================================================
 *                              M MENU                                
 * ============================================================ */
.mixit-menu-toggler{
    color: $white;
    position: absolute;
    right: 0;
    z-index: 57;
    i{
        font-size: 20px;
    }
}


#header{
    background-color: rgba(28, 31, 36, 0.4);
    position: fixed;
    top: 0;
    left:0;
    right:0;
    z-index:110;
    // overflow-x: hidden;

    .logo{
        padding: 0.688rem 0 0;
        @include media(sm){
            padding:0.75rem 0;
        }
        img{
                width:110px;
            }
    }/*logo*/

    .right-panel{
        @include media(sm){
            margin-top: 4px;
        }
    }

}//#HEADER
.scroll-header{
    background-color:rgba(28, 31, 36, 0.9) !important;
}


/* ============================================================
 * MAIN HEADER NAVIGATION                                      
 * ============================================================ */

.main-header-navigation{
    padding: 0.1875rem 0 0;
    width: initial;
    float: right;
    margin-bottom: 0;

    .current-menu-item {
        a{color: $primary;}
     }

     ul.mixit-menu-wrapper{
        margin-bottom: 0;

        @include media(sm){
            padding:2.188rem 0 0;
        }

        > li:hover{
            border-bottom:3px solid $primary;
        }

        li{
            margin:1.275rem 1.875rem 0;
            line-height: 1.25rem;
            position: relative;
            @include transition(all 0.2s ease-out);

            @include sub-menu();
            @include media(md){
                margin: 0.9375rem 0.875rem 0;  
            }

            &:hover {
                ul.sub-menu{
                    opacity: 1;
                    visibility: visible;
                    margin-top:1.125rem;
                    @include transition(all 0.2s ease-out);
                    @include box-shadow (0 6px 12px rgba(0, 0, 0, 0.176));
                }       
            }
        }//li
    }//ul
    .mixit-custom-menu-item{margin: 0.9375rem;}
    .ubermenu-responsive-toggle {
        color: $white;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0.5rem;
        padding-top: 21px;
        position: absolute;
        right: 0;
        top: 0;
    }
}//main-header-navigation

/* ============================================================
 *                      SEARCH FORM                                    
 * ============================================================ */

#search-wrapper{
    @include border-radius(0);
     .mixit-product-search{
        // padding:1.875rem;
        width: 100%;
        position:fixed;
        z-index:5;

             @include media(xs){
                // padding:0.875rem;
            }
            input[type="search"]{
                @include border-radius(0 0 3px 3px);
                font-size: 1.25rem;
                color: $link;
                @include box-shadow(none);
                border:0;
                width: 100%;
                padding:0.875rem 2.5rem 0.875rem 1.875rem;
            }
            button{
                position:absolute;
                right:0;
                top: 15%;
                @include box-shadow(none);
                border:none;
                background-color:transparent;
                i{
                    font-size: 1.25rem;
                    color: #888;

                    &:hover{
                        color: $primary !important;
                    }
                }
            }
    }//.mixit-product-search
 }//#search-wrapper

/* ============================================================
 * MAIN HEADER NAVIGATION                                      
 * ============================================================ */

.mixit-user-info-wrapper {
    padding: 1.0875rem 0 0;
    float: right;
     @include media(sm){
        padding:1.188rem 0 0;
        margin-bottom:-30px;
    }
    ul{
        list-style: none;
        margin: 0;
        padding:0;
         li{
            float: left;
            padding: 0 0.9375rem;
            position:relative;
            @include transition(ease-out all 0.2s);

            @include media(xs){
                 padding: 0 0.5rem;
            }

            @include media(sm){
                padding: 0 10px;

                &:last-of-type{
                    margin-right: 15px;
                }
            }

                
            a{
                color: $white;

            }

            i{
                @include media(sm){
                    font-size: 18px;
                }
            }

            .mini-cart-icon{
                padding-bottom:1.188rem;
                display: block;
                cursor: pointer;
                i{
                    font-size: 1.5rem;
                    line-height: 1.25rem;
                    color: $white;

                    @include media(sm){
                        font-size: 18px;
                        line-height: 1;
                    }
                }

                @include media(sm){
                    padding-bottom: 0;
                }
            }

            ul{
                li{
                    width: 100%;
                    a{color:#555;}
                }
            }
            .cart-item-count{
                background:$primary;
                /*@include border-radius(50%;)*/
                @include border-radius(50%);
                color: $white;
                display: block;
                font-size: 0.6875rem;
                font-weight: normal;
                height: 1rem;
                line-height: 1rem;
                position: absolute;
                right: 0;
                text-align: center;
                top: -12px;
                width: 1rem;
                @include media(xs){
                    right:6px;
                }
            }//cart-item-count
        }
    }//ul
}//mixit-user-info-wrapper 

@media screen and (max-width:767px){
    ul.mixit-user-info li i{
        font-size: 18px !important;
    }
}


/* ============================================================
 * MIXIT ACCOUNT                                      
 * ============================================================ */

.mixit-account{
    &:hover{
        > ul {
            display: block;
        } 

    }
    @include sub-menu();

    a{
        padding-bottom: 0;
    }
}


//SEARCH

.mixit-search{
    i{
        color: $white;
        cursor: pointer;
    }
}


/* ============================================================
 * MINI CART WRAPPER                              
 * ============================================================ */

.mini-cart-wrapper{
    position:relative;
        @include media(xs){
           padding-right: 20px !important;
         }
    #mixit-cart-detail {
        visibility: hidden;
        opacity: 0;
        // margin-top: 3.75rem;
        position: absolute;
        top: 42px;
        margin-left: 0;
        width: 23.125rem;
        left: inherit;
        right: 0;
        background-color:$white;
        padding: 15px;
        border: 1px solid #f5f5f5;
        @include border-radius(4px 4px 0 0);
        @include media(xs){
            width: 20.125rem;
         }
         @include media(mb){
            right: -35px;
         }

        ul.cart_list.product_list_widget{
            height: 100px;
            overflow-y: scroll;
            margin: 0;
            padding:0;

            li.mini_cart_item{
                padding:15px 15px 15px 0;
                border-top:0;
                border-bottom: 1px dashed #f5f5f5;
                width: 100%;

                &:last-of-type{
                    border-bottom: none;
                }
                @include transition(all 0.2s ease-out);

                a.remove{
                    float:right;
                    i{
                        color: #555;
                        font-size: 0.75rem;
                    }

                    &:hover{

                            background-color:transparent;
                    }

                    &:hover{
                        i{
                            color: $primary;
                        }
                    }
                }

                a{
                    display: block;
                    font-size: 0.875rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #555;

                    &:hover{color:$primary;}

                img{
                    float: left;
                    margin-right: 0.9375rem;
                    max-width: 4.375rem;
                    width: 100%;
                    padding-top: 0.375rem;
                    }
                }

                .quantity{
                    color:$primary;
                    font-weight: bold;
                }

            } //li
        } //ul

        .cart-redirect-link{
            padding:15px 0;
             float: right;
            .total{
                color: $primary;
               
                font-size: 1.625rem;
                font-weight: bold;
                line-height: normal;
                margin: 0 0 1.25rem;
                padding-top:0.9375rem;
                border-top:1px solid #e1e1e1;
                @include clearfix();
                width: 100%;
                .amount{
                    float: right;
                }
            }
            .buttons{
                // border: 2px solid #e1e1e1;
                @include border-radius(0.25rem);
                font-size: 0.875rem;
                font-weight: bold;
                text-transform: uppercase;
                a{
                     color: #888;
                     display: block;
                     float: right;

                     &:hover{
                        text-decoration: none;
                        color: $primary;
                     }
                }
                .checkout{
                    margin-top: 1.25rem;
                    background: $primary;
                    border-color: $primary;
                    color: $white;
                    padding:1rem 2.5rem;

                    &:hover{
                        background: #2d2d2d;
                        border-color: #2d2d2d;
                        color: $white;
                    }
                }
            }
        }

    } //#mixit-cart-detail

    &:hover{
        #mixit-cart-detail {
             // margin-top: 3.125rem;
             visibility: visible;
             opacity: 1;
        }
    }
} //mini-cart-wrapper



/* ============================================================
 * BANNER SECTION                     
 * ============================================================ */
 .main-content{
    height: 78vh;
    position: relative;
    @include media(xs){
        height: 100vh;
    }
    @include vh-polyfill(height, 80);
 }
.banner-holder{
    // position: relative;
    // padding-top: 56.25%;
    position: absolute !important;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    video, object {
      // display: block;
      // position: absolute;
      // width: 100%;
      // height: 100%;
      // top: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      background: no-repeat center center fixed /cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      @include transform(translate(-50%,-50%));
}

    .doted-overlay{
        background:url("assets/build/img/gridtile.png")repeat;
        opacity: 1;
    }

    .banner-text{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        text-align: center;
        color: $white;
        z-index: 2;
        @include transform(translate(-50%, -50%));

        .welcome-text{
            font-size: 48px;
            font-style: italic;
            font-weight: 400;
            line-height: 40px;
            margin: 0;
            white-space: nowrap;
            z-index: 5;
            position:relative;

            &:before{
                background-color: #fff;
                content: "";
                height: 2px;
                left: 0;
                position: absolute;
                top: 50%;
                width: 40px;
            }
            &:after{
                 background-color: #fff;
                content: "";
                height: 2px;
                right: 0;
                position: absolute;
                top: 50%;
                width: 40px;
            }


            @include media(xs){
                font-size: 12px;
                line-height: 12px;
                &:before,
                &:after{
                    display: none;
                }
            }
        }
    
        h1{
            font-size: 45px !important;
            font-weight: 600;
            letter-spacing: -4px;
            line-height: 48px !important;
            z-index: 6;
            margin-bottom: 20px;
            padding-bottom: 20px;
            position: relative;

            &:after{
                content: "";
                width: 50px;
                height: 4px;
                background-color: #FFF;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
            }

            @include media(xs){
                font-size: 23px !important;
                line-height: 1.25 !important;
                letter-spacing: 0;
                margin: 0 0 8px;
            }
        }

        .slogan{
            border-width: 0;
            font-size: 22px;
            font-style: italic;
            font-weight: 300;
            letter-spacing: 0;
            line-height: 1.5;
            margin: 0;
            max-height: none;
            max-width: none;
            min-height: 0;
            min-width: 0;
            opacity: 1;
            padding: 0;
            transform: translate3d(0px, 0px, 0px);
            transform-origin: 50% 50% 0;
            transition: none 0s ease 0s ;
            visibility: inherit;
            white-space: nowrap;
            z-index: 7;
            margin-bottom:25px; 
            @include media(xs){
                font-size: 12px;
                line-height: 16px;
                margin-bottom:0; 
                white-space: normal;
                padding-left: 5px;
                padding-right: 5px;
            }
        } //.slogan

        a{
            padding:1rem 3.125rem;
            color: $white;
            font-size: 14px;
            font-weight: 700;
            line-height: 50px;
            text-align: center;                             
            @include text-shadow(none);
            @include border-radius(0.25rem);
            @include media(xs){display: none;}

            &:hover{
                @include box-shadow(none);
                background-color:$primary;
                border-color:$primary;
                text-decoration: none;
            }
        }
        .btn-shop-now{
            margin-right: 20px;
            border:2px solid $primary;
            &:hover{
                @include box-shadow(none);
                background-color:#2d2d2d;
                border:2px solid #2d2d2d;
            }
        }
        .btn-we{
            background-color:transparent;
            @include box-shadow(none);
            border:2px solid $white;
        }

    } //.banner-text

    @include media(xs){
        background-image: url(http://www.mixit.se/wp-content/uploads/2016/08/page-header-default-e1479119544902.jpg); 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;

        video,object{
            display: none;
        }
    }

} //.banner-holder

.banner-arrow{
    position: absolute;
    bottom: 20px;left:0px; right:0;
    margin-left:auto; margin-right: auto;
    width: 40px; height: 24px;
    @include animation(bounce 2s infinite);
    cursor: pointer;

    .arrow-line{
        height: 1px;
        width: 28px;
        background: white;
        @include transform(rotate(45deg));
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        &:after{
            content: '';
            position: absolute;
            width: 28px;
            height: 100%;
            bottom: 0;
            left: 100%;
            background: white;
            @include transform(rotate(-90deg));
            -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
        }
    }
}
@include keyframes(bounce) {
    0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
    40% {
    @include transform(translateY(-30px));
  }
    60% {
    @include transform(translateY(-15px));
  }
}