.page-banner-image{
	position: relative;
	background-position: center;
	background-size: cover;

	 @include media(xs){
		//background-image: url("http://202.166.198.46/mixit/wp-content/uploads/2016/09/home_1_banner_2_1-1.jpg");
		background-position: center;
		background-size: cover;
		overflow: hidden;
		height: 280px;
	}
	img{
		@include media(xs){
			margin-top: -75px;
		}
	}

	.banner-centered-title-header{
	  position: absolute;
	  top: 35%;
	  text-align: center;
	  right: 0;
	  left: 0;
	  @include media(sm){
	  	top: 25%;
	  }

	  @include media(xs){
	  	//padding:80px 0;
	  	text-align: center;
	  	position: inherit;
	  }

		  h1,
		  h2{
			  font-size: 5rem;
			  font-weight: 300;
			  color: $white;

			  @include media(sm){
			  		font-size: 4.5rem;
			  }
			   @include media(xs){
			  		font-size: 2.5rem;
			  }
		}/*h1*/
	}/*banner-centered-title-header*/

	.breadcrumb-holder{
		position: absolute;
		text-align: center;
		right: 0;
		left: 0;
		bottom: 0;
		background:rgba(28, 31, 36, 0.5);

		.woocommerce-breadcrumb{
			margin:1.5625rem 0;
			line-height:1.875rem;
			font-weight: bold;
			text-transform: uppercase;
			color: $white;
			font-size: 14px;

			@include media(mb){
				margin:0.563rem 0;
				font-size: 11px;
			}

			@include media(xs){

				margin:0.563rem 0;
			}

			a{
				color: #777;
				&:hover{
					color: $primary;
					text-decoration: none;
				}
			}
			i{
				padding: 0 1.25rem;
				@include media(mb){
					padding: 0 1px;
					font-size: 11px;
				}
			}
		}/*woocommerce-breadcrumb*/
	}/*breadcrumb-holder*/
}/*page-banner-image*/

