.ui-dialog{
	.ui-dialog-titlebar{
		display: none !important;
	}//ui-dialog-titlebar
	.ui-dialog-content{

		.product-single-wrapper{
			padding: 0;
			
			.images{
				width: 28% !important;
			}//images
			.entry-summary{
				width: 68% !important;
				line-height: 1.5;
				h1{
					margin: 0;
				}
				form.cart{
					margin-bottom: 1em;
				}//form.cart
			}//entry-summary
		}//.product-single-wrapper

		form.cart div.quantity{
			margin-bottom: 10px !important;
		}
	}//.ui-dialog-content
	button{
		background: $primary;
		border-color: $primary;
		@include box-shadow(none);
		color: $white;
		@include text-shadow(none);
		@include transition(all ease-out 0.5s);

		&:hover{
			background-color:#2d2d2d;
			border-color:#2d2d2d;
		}//&:hover
	}//button
}//ui-dialog