.woocommerce{
	ul.products{
		li.product{
			padding-left: 0.9375rem !important;
			padding-right: 0.9375rem !important;
			margin:0 0 1.875rem!important;
			@include media(lg){
				width: 25%;
			}
			@include media(mb){
				padding-left: 5px !important;
				padding-right: 5px !important;
				margin-bottom: 10px !important;
				width: 50%;
			
			}

			.product-item-inner{
				.product-item-image{
					position: relative;
					.alt_img {
						opacity: 0;
						position: absolute;
						top: 0;
						left: 0;
						@include transition( all , 0.5s , ease , 0s );
					}/*alt_img*/
					.badge {
						@include border-radius(0);
						font-size: 0.8125rem;
						font-weight: 600;
						line-height: 100%;
						padding: 1em;
						position: absolute;
						text-transform: uppercase;
						z-index: 0;
						margin: 0;
						background-color: #283747;
						top: 0.9375rem;
						@include media(mb){
							font-size: 12px;
							padding: 7px;
						}
					}/*badge */

					.onsale{right: 0;}/*onsale*/

					.new-badge{
						left: 0;
						color: $link;
						background-color: $white;
					}/*new-badge*/

					.action-hover-inner{
						position: absolute;
						opacity: 0;

						.button-wrapper{
							display: inline;
							//margin: 0.25rem;
							margin: 1px;
						}

						a{
							background-color: $primary;
							color: $white;
							height: 2.8125rem;
							width: 2.8125rem;
							@include border-radius(50%);
							line-height: 2.8125rem;
							text-align: center;
							padding:0;
							opacity: 1;
							margin-left:5px; 
							
							.loader-search{
								&:after{
									font-family: WooCommerce;
								    content: "\e01c";
								    vertical-align: top;
								    -webkit-font-smoothing: antialiased;
								    font-weight: 400;
								    position: absolute;
								    top: 0.1em;
								    right: 1.1em;
								    -webkit-animation: spin 2s linear infinite;
								    -moz-animation: spin 2s linear infinite;
								    animation: spin 2s linear infinite;
								}
							}

							.loader-search{
								&:after{
									color: transparent;
								}
							}
						}

						a.quickview.loading{

							.loader-search{
								&:after{ color: #ffffff; }
							}

							.search-wrap{
								.fa-search{
									&:before{
										color: transparent;
									}
								}
							}

							&:after{
								display:none;
							}
						}

						a.ajax_add_to_cart.loading{
							.fa-shopping-cart{
								color: transparent;
							}
						}

					}/*action-hover-inner*/

					img {
						min-height: 244px;
						height: 100%;
						@include media(mb){
							width: 100%;
							min-height: 130px;
						}
					}/*img*/

				}/*product-item-image*/

				&:hover{
					.overlay{
						@extend .overlay;
						background: rgba(27, 30, 34, 0.3) none repeat scroll 0 0;
					}/*overlay*/

					.alt_img {
						opacity: 1;
						width: 100%;
					}/*alt_img */

					.action-hover-inner{
						left: 50%;
						max-width: 10.3125rem;
						position: absolute;
						top: 47%;
						width: 100%;
						z-index: 0;
						opacity: 1;
						text-align: center;
						@include transform(translate(-50%, -50%));
					}/*action-hover-inner*/
				}/*&:hover*/

				.product-item-info{

					h3{
						font-size: 1rem;
						font-weight: bold;
						margin:0 0 0rem;
						line-height: 1.1;
						@include media(mb){
							font-size: 0.85rem;
						}

						a{
							color: $link;
							display: block;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							font-size: 1.2em;
							line-height: 1.5;
							font-weight: 400;
							text-transform: capitalize;

							&:hover{
								color:$primary;
								text-decoration: none;
							}/*&:hover*/
						}/*a*/
					}/*h3*/

					.price{
						color: #cc0b21;
						display: block;
						font-weight: 400;
						margin-bottom: 0.5em;
						font-size: 1.1em;
						del{
							display: inline !important;
						}/*del*/
					}/*price*/
					@include media(mb){
						font-size: 0.75rem;
						padding: 10px;
					}

				}/*product-item-info*/
			}/*product-item-inner*/
		}/*li.product*/
	}/*ul.products*/
	
	div.product{
		form.cart{
			margin-bottom: 1.2em !important;
		}
	}

	button.button{
		&.disabled{
			opacity: 1 !important;
		}
	}
	
	.summary{
		&.entry-summary{
			table{
				&.shop_attributes td{
					padding: 8px;

					p{
						margin-bottom: 0 !important;
					}
				}
			}
			
		}
	}
}/*woocommerce*/

