	.shop-sidebar{
		padding-top: 0;
		margin-top: 2.25rem;
		padding-left: 0;
		padding-right: 0;
		background-color: $white;
		@include media(lg){
			width: 20%;
		}
		@include media(sm){
			padding: 0;
			margin-top: 0;
		}
		@include media(xs){
			position: fixed;
			top:0;
			bottom:0;
			left:0;
			width: 80%;
			z-index: 999999;
			overflow-y: scroll;
		}

	aside{
		.woocommerce-product-search{
			.search-field{
				float: left;
			    width: calc( 100% - 70px);
			    margin-right: 10px;
			    padding: 6px 15px;
			}

			input[ type = "submit" ]{
				float: left;
    			padding: 10px 10px;
			}
		}
		padding: 0.9375rem 1.875rem;

		h3{
			font-size: 1rem;
			font-weight: 600;
			margin-bottom: 1.25rem;
			text-transform: uppercase;
			border-bottom: 2px solid  #e1e1e1;
			padding-bottom: 0.3125rem;
		}/*h3*/
	}/*aside*/

	ul.product-categories,
	ul.brand-list{
		list-style: none;
		margin: 0;
		padding: 0;

		li{
			padding: 0.3rem 0;
			border-top: 1px solid #f1eeee;

			&:first-child{
				border-top:none;
			}/*&:first-child*/

			a{
				color: $link;

				&:hover{
					color:$primary;
					text-decoration: none;
				}
				i{
					float: right;
				}
			}/*a*/
			ul{
				list-style: none;
				padding: 0;
				li{
					&:before{
						content: "\f105";
						font-family: fontawesome;
						margin-right: 10px;
					}
				}
			}
		}/*li*/

	.current-cat a{
		color:$primary;
		text-decoration: none;
		}/*current-cat a*/
	}/*ul.product-categories*/
}/*shop-sidebar*/


#filtertoggle{
	margin-left: 10px;
}
.closefilter{
	background: #333 !important;
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index: 88888;
	&:after{
		content: " x ";
		right: 7%;
		position: absolute;
		top: 44%;
		font-size: 44px;
		color: #777;
	}
}