.ubermenu {

	.ubermenu-nav{

		.ubermenu-submenu {

			// .ubermenu-target-text{
			// 	font-weight: 700;
			// 	text-transform: uppercase;
			// }

			// .ubermenu-target{
			// 	padding: 10px 15px;
			// }

			// .ubermenu-custom-content{
			// 	.columns-0,
			// 	.columns-1{
			// 		width: 50%;
			// 		float: left;
			// 		a{
			// 			display: block;
			// 			color: $black;
			// 			padding-bottom: 5px;
			// 			&:hover{
			// 				text-decoration: none;
			// 				color: $primary;
			// 			}
			// 		}
			// 	}
			// }
			&.ubermenu-submenu-id-2326{
				width: 100%;
				// max-width: 420px;
				left: 0;

				.ubermenu-item-type-taxonomy{
					width: 100%;
				}
			}
			.ubermenu-target{
				padding: 5px 15px;
			}

			.ubermenu-item-header{
				
				> .ubermenu-target{
					 padding-bottom: 0;
				}
			}
		}

		li{
			&.ubermenu-column-1-3{
				width: 40%;

				&:nth-of-type(2){
					width: 20%;
				}

				.ubermenu-submenu-type-stack > .ubermenu-item.ubermenu-column-auto{
					width: 100%;
				}
			}
		}
	}
	.ubermenu-submenu-id-2522, 
 	.ubermenu-submenu-id-2507, 
 	.ubermenu-submenu-id-2536{
 		width: 315px !important;
 	}

	.ubermenu-submenu-type-stack{
		>.ubermenu-item.ubermenu-column-auto{
			float: left;
			width: 50%;
		}
		&.ubermenu-submenu-indent{
			padding-left: 5px;
		}
	}

	@include media(xs){
		.ubermenu-item-level-3{
			min-width:50% !important;
			max-width: 50% !important;
			width: 50% !important;
		}
	}

}

@media(max-width: 959px){
    .ubermenu.ubermenu-disable-submenu-scroll .ubermenu-active>.ubermenu-submenu.ubermenu-submenu-type-mega{
        top:0 !important;
        height: 320px;
        max-height: 100vh !important;
        overflow-y: auto !important;
    }
    .ubermenu .ubermenu-item-level-0>.ubermenu-submenu-drop{ clip: auto !important;}
}

.ubermenu-responsive-toggle-icon-only .fa{
	font-size: 18px;
}