.woocommerce {
	.widget_price_filter {
		.ui-slider {
			.ui-slider-range{background-color:#e1e1e1;}
			.ui-slider-handle{background-color: $primary;}
		}/*ui-slider*/
		.price_slider{
			margin-bottom: 1.25rem;
			margin-top: 1.25rem;
		}/*price_slider*/
		.price_slider_amount {
			.button{
				float: none;
				font-size: 0.875rem;
				font-weight: bold;
				padding: 0.625rem 1.5625rem;
				text-transform: uppercase;
				color:#888;
				background-color: transparent;
				border: 2px solid #e1e1e1;

				&:hover{
					background-color:$primary;
					border-color:$primary;
					color: $white;
				}/*&:hover*/
			}/*button*/

			.price_label{
				font-size: 1rem;
				display: inline-flex;
				color: #888;
				width: 100%;

			}/*price_label*/

		}/*price_slider_amount*/

		.ui-slider-horizontal{height: 4px;}
	}/*widget_price_filter*/

	.woocommerce-checkout-review-order{
		ul#shipping_method{
			li{
				text-indent: -30px;
			}
		}
	}
	
	.woocommerce-checkout{
		.address-field{
			@include media(sm){
				float: left !important;
				width: 100%;
			}
		}	
	}

	.checkout_coupon{
		.address-field{
			float: left !important;
			width: 100%;
		}
		// .form-row-last{
		// 	&.validate-postcode{
		// 		float: left !important;
		// 	}
		// }
	}

	.form-row{
		select,
		textarea{
			padding: .5rem .3125rem;
		}
	}

	#payment{
		.payment_methods{
			label{
				max-width:82%;
				vertical-align: top;
				margin-top: -2px;
			}
		}
	}
}/*woocommerce*/