.shop-right-col{
	padding-top: 6.25rem;
	padding-bottom: 3.125rem;

		.mixit-shop-toolbar{
			padding:0 15px;
			a{
				@include border-radius(2px);
				color: $white;
				display: block;
				font-size: 0.8125rem;
				line-height: 2.6875rem;
				padding: 0 2.5rem;
				text-transform: uppercase;
				background:$primary;
				float: left;

				&:hover{
					text-decoration: none;
				}
			}
			.shop-filter-wrapper{
				float: right;
				.woocommerce-result-count{
					// float: left;
					font-size: 1rem;
					line-height: 2.8125rem;
					margin-bottom: 0;
					color: #888;
					margin-right:5px; 
				}

				.woocommerce-ordering{
					.orderby{
						// margin-top: 0.8em;
						border: none;
						background: transparent;
						color: #4b4c4c;
						text-transform: capitalize;
						font-size: 17px;
						margin-top: 9px;
						font-weight: 600;
						outline: none;
					}
				}
			}
		}

	@include media(lg){
		width: 80%;
	}

	.product-wrapper{
		padding-top: 60px;

		nav.woocommerce-pagination{
			.page-numbers{
				border: 0;
				li{
					border: 0;
					.page-numbers{
						background: $white;
						display: block;
						height: 3rem;
						line-height: 2rem;
						margin-left: 5px;
						margin-right: 5px;
						position: relative;
						text-align: center;
						width: 3rem;
						color: #555;
						font-size: 1rem;
						font-weight: bold;
						@include border-radius(2px);

						@include media(md){
							font-size: 0.875rem;
							height: 2.5rem;
							line-height: 2.5rem;
							width: 1.5rem;
						}

						&:hover{
							background: $primary;
							color: $white;
						}/*&:hover*/
					}/*page-numbers*/
					.current{
						background: $primary;
						color: $white;
					}/*current*/
				}/*li*/
			}/*page-numbers*/
		}/*nav.woocommerce-pagination*/
	}/*product-wrapper*/


}/*shop-right-col*/