.page-banner-image.no-image{
	position:static;
	@include box-shadow(0 0 3px 1px rgba(0, 0, 0, 0.2));
	@include media(sm){
		margin-bottom:15px;
	}
	@include media(xs){
		height: auto;
		margin-bottom: 0;
	}
	.banner-centered-title-header{
		position:inherit;
		background: rgba(26, 26, 26, 0.9);
		color:#fff;
		h1,
		h2{
			padding-top: 95px;
			margin: 0;
			padding-bottom:30px;
			font-size: 2.5rem;
		}
	}//.banner-centered-title-header
	.breadcrumb-holder{
		position:inherit;
		background-color:inherit;
		.woocommerce-breadcrumb{
			margin: 0;
			color: #000;
			padding:10px 0;
		}//woocommerce-breadcrumb
	}//breadcrumb-holder
}//no-image
.shop{
	background-color: #f5f5f5;
	@include clearfix();
	@include media(sm){
		padding:15px;
	}
	.shop-right-col{
		padding-top:2.25rem;
		@include media(sm){
			padding:0;
		}
	}
}