.post-page{
	padding-bottom: 3.125rem;
	padding-top: 6.25rem;
	background:#f5f5f5 ;

	@include media(sm){
		padding-top:10px;
	}

	h3{
		font-size: 1.25rem;
		margin: 0 0 1.9375rem;
		position:relative;

		&:after{
			content: '';
			position:absolute;
			width:1.875rem;
			height: 1px;
			background: #555;
			left: 0;
			bottom:-10px;
		}
	}
	.mixit-single-post-wrapper{
		.post-image{
			position:relative;

			.icon{
				position:absolute;
				bottom: 1.25rem;
				right: 1.25rem;
				background: $primary;
				@include border-radius(50%);
				color: $white;
				font-size: 1rem;
				height: 2.875rem;
				line-height: 2.875rem;
				text-align: center;
				width: 2.875rem;

			}//.icon
		}//.post-image

		.main-content-holder{
			background: #fff;
			padding: 1.875rem;
			margin-bottom: 1.875rem;

			header.entry-header{
				h1{
					font-size: 1.25rem;
					font-weight: bold;
					line-height: normal;
					margin-bottom: 0.3125rem;
					text-transform: uppercase;
					color: $link;
				}
			}//header.entry-header

			.entry-meta{
				font-size:1.25rem;
				line-height: 1.875;
				font-family: "Crimson Text",serif;
				color: #555;
				font-style: italic;
				a{
					color: $link;

					&:hover{
						text-decoration: none;
					}
				}
				.comment-counter{
					float: right;
					color: $primary;
				}//.comment-counter
			}//.entry-meta

			.entry-content{
				font-size:1rem;
				line-height: 1.875;
				color:#888;
				word-wrap: break-word;
			}//.entry-content

			.content-links{
				margin-top: 15px;

				span {

					display: block;
    				margin-bottom: 10px;

					a{
						color: #675757;
					    font-style: italic;
					    display: inline-block;
					}
				}
			} //.content-links
		}//.main-content-holder

		.comments-holder{
			background: #fff;
			padding: 1.875rem;
			margin-bottom: 1.875rem;

			@include clearfix();

				.comments-title{
					font-weight: bold;
				}
				ol.comment-list{ 
					@include clearfix();
					margin: 0;
					padding:0;
                    li{
                    	overflow: hidden;
                    	margin-bottom: 20px;

	                    	.comment_container{
	                    		@include media(sm){
	                    			text-align: center;
	                    		}

							.avatar {
								height: 4.375rem;
								margin-right: 1.875rem;
								margin-bottom: 10px;
								width: 4.375rem;
							}
							.comment-text{
								border: 1px solid #e1e1e1;
								float: right;
								padding: 1.875rem;
								position: relative;
								width: 80%;
								color: #888;

								@include media(sm){
									width: 100%;
									float: none;
								}

									a.url{
										text-transform: uppercase;
										font-weight: bold;
										color: $link;

										&:hover{
											color: $primary;
											text-decoration: none;
										}
									}

								.description{
									float: left;
									font-family: "Crimson Text",serif;
									font-size: 1.25rem;
									font-style: italic;
									line-height: normal;
									width: 100%;
								}//.description
								.reply{
									a{
										text-transform: uppercase;
										color: $link;
										font-weight: bold;

										&:hover{
											color: $primary;
											text-decoration: none;
										}
									}
									.comment-reply-link {
		 								float: right;
									}//.comment-reply-link
								}//.reply
							}//.comment-text
						}
					}
				}	
		}//.comments-area



		.comment-respond{
			background: #fff;
			padding: 1.875rem;
			margin-bottom: 1.875rem;

			.form-submit{
				input[type="submit"]{
					padding:1rem 2.5rem;
					margin:0 1rem 1rem 0;
					background-color:$primary;
					border-color:$primary;
					text-transform: uppercase;
					@include box-shadow(none);
					@include text-shadow(none);
					color: $white;
					font-weight:bold;
					font-size: 0.875rem;

					&:hover{
						background-color:#2d2d2d;
						border-color:#2d2d2d;
						@include box-shadow(none);
						@include text-shadow(none);
						color: $white;
					}
				}
			}//.form-submit
		}//.comment-respond
	}//.mixit-single-post-wrapper

/*::::::::::::::::::::::::::::::::::::::::::
			ASIDE
:::::::::::::::::::::::::::::::::::::::::::*/
#secondary{
	.widget{
		background: #fff;
		margin-bottom: 1.875rem;
		padding: 0.9375rem 1.875rem;

		h2{
			font-size: 1.5rem;
			line-height: 1.87rem;
			font-weight: bold;
			margin-bottom: 0.625rem;
			text-transform: uppercase;
			border-bottom: 3px solid #e1e1e1;
			padding-bottom: 1.3125rem;
			display: inline-block;
			color: $link;
		}

		ul{
			list-style: none;
			margin: 0;
			padding:0;
			font-size: 1rem;
			

			li{
				padding:0.875rem 0;
				border-bottom:1px solid #e1e1e1;

				&:last-child{
					border-bottom:0;
				}

				a{
					color: $link;

					&:hover{
						color: $primary;
						text-decoration: none;
					}
				}
			}
		}
		
	}//.widget
}//#secondary

}//.post-page